[2019-04-02 11:26] Hyperkid123 opened #1 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-04-08 06:44] #1 closed

[2019-04-17 10:53] rvsia opened #10 "Missing documentation"
Never ending list of missing documentation pages:

- [ ] MiQ Async Credentials
- [x] Async Select props
- [x] Contribution

[2019-07-24 08:59] Hyperkid123 opened #37 "Document FormRenderer props"
There is no props description for FormRenderer

[2019-07-24 09:14] Hyperkid123 opened #38 "Add form API to global validation"
Global validation should have access to form API

[2019-07-24 12:12] Hyperkid123 opened #40 "Remove anonymous function components from mappers"
This should remove the `<Unknown />` components from virtual DOM in React dev tools.

[2019-07-24 12:13] Hyperkid123 opened #41 "Go through the app and fix all console errors."
Clean up docs console

[2019-07-24 13:20] Hyperkid123 opened #43 "Make reactive markdown side nav"
Create right side nav for markdown files which will follow users position in document.

[2019-07-26 13:33] rvsia opened #47 "Document component API"
Document component API
Create a standard

[2019-07-29 07:22] Hyperkid123 opened #49 "Make form buttons completely customize-able."
Allow users to add their own buttons handlers.

[2019-07-29 07:23] Hyperkid123 opened #50 "Add form spy options."
Add the option for export the form form state outside the component via some callback function.

[2019-07-29 08:02] rvsia opened #52 "Date / Time pickers API"
I wanted to suggest that we could define some standard API for Date/Time pickers and
eventually re-implement it in other packages.

**Action after:** to update ComponentAPI doc page and packages' components.

[2019-07-29 08:16] rvsia commented on #50
:tada: Closed by https://github.com/data-driven-forms/react-forms/pull/51 :tada:

[2019-07-29 08:16] #50 closed

[2019-07-29 09:04] rvsia opened #53 "Async filtering in PF3/PF4 selects"
Make async filtering in PF3/PF4 selects

cc @Hyperkid123

[2019-07-29 12:58] #47 closed

[2019-07-29 13:14] Hyperkid123 opened #56 "Remove duplicate Ace editor definitions"
We now have 3 different components for code editor. Use just one common component.

[2019-07-30 07:51] #49 closed

[2019-07-30 08:00] #41 closed

[2019-07-30 08:04] #56 closed

[2019-07-30 09:00] Hyperkid123 opened #59 "Use css for select component instead of css in js"
Use PF4 css variables and some prefix for class names

[2019-07-31 11:29] Hyperkid123 opened #61 "Use new design for docs pages."
Rebuild the app with new designs.

[2019-08-01 10:52] miha-plesko opened #64 "We could introduce componentTypes.PASSWORD_FIELD"
Currently it's possible to hide content of `componentTypes.TEXT_FIELD` type component by adding final form property:

[code]
[code]

But introducing a new field type e.g. `componentTypes.PASSWORD_FIELD` would be more intuitive I think. Also, having this as a separate component type we could even add boolean property `twice: true/false` and render confirmation field when true.

[2019-08-01 11:01] #59 closed

[2019-08-01 13:57] Hyperkid123 opened #65 "Data type conversion"
Convert field value data type if `dataType` attribute was specified.

[2019-08-01 14:36] Hyperkid123 commented on #65
necessary for: https://github.com/ManageIQ/topological_inventory-ansible_tower/pull/17

[2019-08-02 08:12] Hyperkid123 opened #66 "Add input addons to form groups."
- decide on schema format
  - addon before
  - addon after
- add implementation for supported components

[2019-08-02 08:12] Hyperkid123 commented on #66
cc @skatemant

[2019-08-02 09:49] Hyperkid123 commented on #64
@miha-plesko that is actually how HTML input is defined. I would not really mess with that.

But i would be for cross field validation validator. that is something we should add.

[2019-08-02 09:58] miha-plesko commented on #64
@Hyperkid123 thans for explanation. I don't need the cross-field validation yet so no hurry.

[2019-08-02 10:00] miha-plesko opened #68 "URL validation"
It would be great if DDF would ship with URL validator type e.g.

[code]

This way it would become super easy to add URL field to the form and have it validated.

[2019-08-05 07:19] Hyperkid123 commented on #68
@miha-plesko will do

[2019-08-05 07:22] Hyperkid123 opened #69 "Add prev/next links to docs."
We should prev/next links to form renderer dos to make the guide more sense. Also we should think about the order of them and generally review them.

[2019-08-05 08:33] Hyperkid123 opened #71 "Make common prop types shareable objects."
We have a lot of prop type definitions which are exactly the same. We should make common prop types definitions.

[2019-08-05 08:36] Hyperkid123 opened #72 "Remove COL, ArrayFieldWrapper and ICON components from layout mapper"
These components are not used very much and it does not make any sense to have them. It can be included in the form fields mapper if need be.

Only component using them is Array field i think. Once that is moved to mappers we can remove them from layout mappers.

[2019-08-05 08:55] rvsia opened #73 "Buttons in PF4 wizard are not focusable by keyboard"
See label

cc @Hyperkid123

[2019-08-05 08:57] rvsia commented on #73
No they are now.. some strange bug occurred to me... I will investigate.

[2019-08-05 08:58] rvsia commented on #73
Oh.. I see.. it's hard to tell that the cancel button is focused :D my bad

[2019-08-05 08:58] #73 closed

[2019-08-05 13:19] #61 closed

[2019-08-05 14:31] #40 closed

[2019-08-05 18:07] #65 closed

[2019-08-07 10:34] Hyperkid123 opened #77 "Migrate react-markdown to MDX"
- replace all occurrences of react markdown with .md files and use mdx loader instead

[2019-08-07 10:36] Hyperkid123 opened #78 "Create common component for mdx content with right navigation"
- after the migration to MDX
- create common component for doc layout with content and right nav

[2019-08-08 07:46] rvsia opened #81 "Add a search (filter) button to left nav"
What about to add a simple input which will only filter links in the menu? Until we have a proper search system, it could be a sufficient solution.

Example:

![image](https://user-images.githubusercontent.com/32869456/62684651-6a043c80-b9c1-11e9-9512-942027871183.png)

[2019-08-08 07:46] rvsia commented on #81
@Hyperkid123

[2019-08-08 08:17] Hyperkid123 commented on #81
YES

[2019-08-08 08:51] #43 closed

[2019-08-12 11:47] rvsia opened #84 "Additional demo search enhancement"
Additional enhancements:
- [ ] integrate searching across MDX documents
- [ ] show current position
- [ ] open currently opened section

[2019-08-12 13:54] #81 closed

[2019-08-12 14:05] #68 closed

[2019-08-16 10:19] #37 closed

[2019-08-29 08:02] skateman commented on #66
I could imagine a schema like this:
[code]

Where `buttonX` is a button specified in the DDF schema. So basically a list of `inputAddons` before and after the input field.

https://www.patternfly.org/v4/documentation/react/components/inputgroup/

[2019-08-29 12:54] #77 closed

[2019-08-29 14:20] #78 closed

[2019-08-29 14:20] Hyperkid123 opened #93 "Migrate to firebase"
Migrate from surge to firebase for performance increase

[2019-08-29 14:30] Hyperkid123 commented on #66
@brumik this one is for you :wink:

[2019-08-29 14:41] skateman commented on #66
@miq-bot assign @brumik

[2019-08-29 14:42] Hyperkid123 opened #94 "Open navigation when user lands on non root page"
We should open the navigation when application mounts outside the landing page `/`

[2019-08-29 15:01] Hyperkid123 opened #95 "Explore algolia search"
Check their docs to see if we could use it for searching.

[2019-08-29 15:14] Hyperkid123 commented on #95
https://community.algolia.com/docsearch/apply.html

[2019-09-02 17:41] rvsia commented on #93
Dome

[2019-09-02 17:41] #93 closed

[2019-09-03 07:05] Hyperkid123 opened #98 "Add name as a key to tabs component"
There are some problems with key value on pf3(possibly all) tabs component.

[2019-09-03 07:57] Hyperkid123 opened #99 "Switch docs"
Switch example is missing its props options

[2019-09-03 09:21] #98 closed

[2019-09-03 10:58] Hyperkid123 commented on #98
cc @skateman

[2019-09-05 07:58] skateman opened #103 "Missing timepicker component"
This component is required for the service dialog editor/user, in the old world it looks like this:
![Screenshot from 2019-09-05 09-57-08](https://user-images.githubusercontent.com/649130/64322838-9660a800-cfc3-11e9-8a11-9ae2499c4112.png)

So basically a datepicker with a time picker.

[2019-09-05 08:10] skateman opened #104 "Missing tag control component in PF3 mapper"
As far as I see, the tag control component is just a dropdown with implicitly loaded data from a category (tag parent). The database-schema for the `DialogField` only stores the category, the actual data is being dynamically loaded upon when serializing the dialog.

![Screenshot from 2019-09-05 10-05-16](https://user-images.githubusercontent.com/649130/64323384-b04eba80-cfc4-11e9-9725-de03f70cc504

[2019-09-05 08:57] romanblanco commented on #104
From ManageIQ prespective, the difference between Tag Control field and Dropdown field is, as @skateman says, that the data [are loaded](https://github.com/ManageIQ/manageiq-ui-classic/blob/36522ada53a64a129cb3519b4183da8084dced1c/app/assets/javascripts/services/dialog_editor_http_service.js#L28-L33) implicitly from a `category` API.

Also there is no option to set Tag Control as multiselect, that

[2019-09-05 09:00] skateman commented on #104
@Hyperkid123 @rvsia my idea for a wrapper around dropdown still stands. Are you planning to support some kind of way to load data dynamically, e.g. by specifying a function in the schema? If yes, then this might be the first component to actually use it. Or if not, we can just preload the data into the schema when sending it from the server. Both solutions are acceptable for me.

[2019-09-05 09:09] rvsia commented on #104
We actually has an option to load options when the select is mounted. However, it is in 'missing documentation' section. :crying_cat_face:

Until it's done, you can look on an use case in MiQ: https://github.com/ManageIQ/manageiq-ui-classic/blob/a359b696b33f51e3c44a27050c34c9fee0ae9703/app/javascript/components/cloud-network-form/cloud-network-form.schema.js#L31

[2019-09-06 07:45] Hyperkid123 commented on #104
@skateman @romanblanco since async select is a thing already i think we should add this component type just as an alias in MIQ not here. The only issue is that now the the select accepts only a function but i would expect that you wanting to add some sort of url and have internal action to do the loading. We don't support that now but i have some ideas to enable this functionality.

[2019-09-06 08:35] rvsia opened #109 "Readme documentation for whole project"
Create readme.md for whole project

Use a new link to custom domain

[2019-09-06 08:41] Hyperkid123 commented on #103
@skateman there is data-time picker but is not being shown in docs(we had no requirement for it). I will add it to the docs.

[2019-09-06 08:42] #64 closed

[2019-09-06 08:44] rvsia commented on #64
I think with `type: password` on text-field and [crossfield validation](https://data-driven-forms.org/renderer/validators#recordlevelvalidation) you can easily create this password component in any schema.

Should we close this, @Hyperkid123  ?

[2019-09-06 08:46] skateman commented on #103
@Hyperkid123 is it possible to alias it to `TIME_PICKER`?

[2019-09-06 08:51] Hyperkid123 commented on #103
Sure

[2019-09-06 09:35] skateman opened #110 "Inconsistent behavior between SELECT and RADIO components in PF3"
The `SELECT` component can live without an `options` array, however, the `RADIO` throws an *Cannot read property 'map' of undefined* error. There's no behavioral difference between a single-select dropdon and a radio, therefore, I think they should behave consistently when (not) getting the same input.

[2019-09-06 09:52] Hyperkid123 commented on #110
A suspect that chekcbox might do the same

[2019-09-06 10:04] skateman commented on #110
@Hyperkid123 nope, checkbox works well without it

[2019-09-06 11:26] skateman opened #113 "Inconsistent select width compared to other components in PF3"
The width of the select fields isn't 100% unlike all other components. This might be intentional, but it's a little weird ...

![Screenshot from 2019-09-06 13-24-14](https://user-images.githubusercontent.com/649130/64424543-b2d71000-d0a9-11e9-9ec7-f59d445a5fa9.png)

[2019-09-09 06:26] Hyperkid123 commented on #113
@skateman that is by PF design. Originally it was 100%. Can't do anything about this :disappointed:

[2019-09-09 06:26] #113 closed

[2019-09-09 06:28] #109 closed

[2019-09-10 12:12] #94 closed

[2019-09-10 16:30] skateman opened #115 "Ability to set the number of rows for TEXTAREA_FIELD"
As the [example is not available](https://data-driven-forms.org/component-example/text-area), I am not sure if this is possible or not. But I'd like to have an option for textareas to optionally set the number of rows for them.

[2019-09-10 18:34] rvsia commented on #115
The example is here https://data-driven-forms.org/component-example/textarea-field, however you won't find this specific prop there. Data Driven Forms components are designed to pass all additional unspecific props in the schema to the component, so you can provide a [html attribute row](https://www.w3schools.com/tags/tag_textarea.asp) to the textarea in the schema.

[code]

[2019-09-10 18:34] #115 closed

[2019-09-10 18:39] rvsia commented on #110
Closed by https://github.com/data-driven-forms/react-forms/pull/114

[2019-09-10 18:39] #110 closed

[2019-09-10 18:40] skateman commented on #115
Thanks!

[2019-09-11 06:32] Hyperkid123 opened #116 "Add 404 for component examples"
Add a fallback component if URl points to non existing component

[2019-09-11 06:56] Hyperkid123 opened #117 "Docs inconsistencies"
If you find any bugs, strange texts or any other issues in docs, please post them to this issue. It will be pinned for very very long time.

[2019-09-11 07:47] skateman commented on #117
![Screenshot from 2019-09-11 09-46-46](https://user-images.githubusercontent.com/649130/64678045-16ca5180-d479-11e9-91b4-4df0c98162c4.png)

title and description inconsistent

[2019-09-11 07:47] skateman commented on #117
![Screenshot from 2019-09-11 09-47-22](https://user-images.githubusercontent.com/649130/64678079-2ba6e500-d479-11e9-944e-8a38665847fe.png)

you're mentioning the *data driven forms repository* but there is no such thing

[2019-09-11 10:01] rvsia opened #118 "Wrong URL for textarea demo"
URL for textearea Is using deprecated type name

[2019-09-11 19:01] rvsia commented on #118
https://github.com/data-driven-forms/react-forms/pull/119

[2019-09-11 19:01] #118 closed

[2019-09-12 12:54] Hyperkid123 opened #122 "Files structure."
- redo the files structure to actually make sense
- use MD everywhere where its not being used

[2019-09-12 13:04] Hyperkid123 opened #123 "Common code"
Find common components and other pieces of code and put the into some common sub project

- select
- checkbox multi
- radio group
- test helpers

[2019-09-13 07:41] Hyperkid123 commented on #103
@skateman we added a variant prop to date picker so now you have the date and time picker in the popover according to PF3 design. https://data-driven-forms.org/component-example/date-picker

We will not be calling it time picker because PF does actually have a time picker design (just the time part without the calendar) which will have the constant `TIME_PICKER` once we add it. As of this moment w

[2019-09-13 09:08] #99 closed

[2019-09-13 10:18] skateman commented on #103
In the MiQ dialog editor the time picker is actually a datetime picker. If you think it through, there is no reason in the context of MiQ to have a time picker that only selects time and not data. I'm pretty sure that this is the case of any product we will be integrating DDF into, but I might be wrong. Anyway, I would need at least a `DATETIME_PICKER`. Having a separate component for date and dat

[2019-09-13 11:12] skateman commented on #117
`buttonsLabels` prop should be `buttonLabels` and its documented default values are not working:
![Screenshot from 2019-09-13 13-11-08](https://user-images.githubusercontent.com/649130/64858570-086e6800-d628-11e9-8ca3-2be95b2ec210.png)

It actually accepts `submitLabel` and `cancelLabel`...

[2019-09-14 15:02] Hyperkid123 commented on #103
@skateman  The fact that the MIQ dialog editor (or any consuming app/package) requires an alias should not be good enough argument to add it. If we start doing that we could end up with fifty different aliases for text input. That is not something we want to happen. However there is an option if you want to have an aliases for any components from mappers 😉.
[code]

You can use the component you ne

[2019-09-15 12:28] skateman commented on #103
Well, I'm okay with a component mapper alias, but then we will have to implement it MiQ separately. However, as far as I understood, at the beginning the DDF was trying to implement the components from the dialog editor. I guess that's the reason of the existence of the tag control component. Now you're saying that you no longer want to have this compatibility?

Even though the date picker and the

[2019-09-15 13:30] skateman opened #127 "Difference between helperText and description"
The `description` and the `helperText` of an input field in PF3 is doing the exact same thing.

![Screenshot from 2019-09-15 15-21-39](https://user-images.githubusercontent.com/649130/64922261-891a9900-d7cd-11e9-82cc-a78bff8e63d2.png)

In the dialog editor there's no `description`, but that's actually fine. However, according to PF3 specs, the `helperText` should be rendered differently:
![Screens

[2019-09-15 14:20] skateman opened #128 "Existence of invisible fields"
Is there a way to simply control the visibility (true/false) of a form item through the schema? I haven't found anything in the docs about it.

[2019-09-16 07:32] Hyperkid123 commented on #103
That is not true it started as a component for insights which was to render forms based on OpenAPI schemas.

We the made a parser from miq schema to data driven forms and we needed a placeholder so the so the component wont die in runtime. Now that we know that tag selector is just an async select which automatically resolves url, It will be deprecated and we will alias create alias for select.

[2019-09-16 08:27] skateman commented on #103
Ok, is there an issue or any other place where these deprecated items are collected?

[2019-09-16 08:27] Hyperkid123 commented on #103
No i want to start a project for v2.0 where all this changes will take an effect. Let me start it right away.

[2019-09-16 08:47] #69 closed

[2019-09-16 10:50] Hyperkid123 commented on #128
You can use input type hidden (text_field)

[2019-09-16 12:49] skateman commented on #128
Yeah, but what about other fields? Miq dialog schema has a display property

[2019-09-16 14:35] Hyperkid123 commented on #128
How exactly does it work? We have conditional fields which show/hide based on some condition. Or do you just want a prop on any component which would remove it from a DOM?

[2019-09-16 15:11] skateman commented on #128
@hyperkid123 if the condition can be a boolean, then it might work, about the other part, I'll have to take a deeper look into the miq dialogs. Will get back to you...

[2019-09-16 15:55] Hyperkid123 commented on #128
@skateman it can be any value you want

[2019-09-17 12:52] skateman commented on #128
@Hyperkid123 the dialog itself is in the DOM, but it is not visible. Probably some kind of automate magic can make it visible in some cases.

[2019-09-17 13:01] skateman commented on #128
The [condition](https://data-driven-forms.org/renderer/condition) would be a little hacky for this and AFAIK passing functions into the schema is something we don't want...so I'm a little lost :confused:

[2019-09-17 19:34] skateman commented on #117
Broken link to the [list of standard components](https://data-driven-forms.org/renderer/form-schemas) on [this](https://data-driven-forms.org/renderer/field-provider) page

[2019-09-18 12:40] brumik commented on #66
@skateman The PF3 is not prepared for multiple InputAddons in one place. The design looks sometimes broken. For example here (button and text after or double text before)

![Screenshot from 2019-09-18 14-39-26](https://user-images.githubusercontent.com/8531681/65149311-2837ce80-da22-11e9-8a7f-9643a67a8577.png)

[2019-09-18 13:10] brumik commented on #66
Is it required to support Dropdown, Radio, Checkbox and Icon also?

[2019-09-18 13:11] skateman commented on #66
No, for now just input.

[2019-09-18 13:28] brumik commented on #66
I mean support in the Input addon these things:
![Screenshot from 2019-09-18 15-28-31](https://user-images.githubusercontent.com/8531681/65152834-02fa8e80-da29-11e9-8b82-533cacc5a79f.png)

[2019-09-18 13:30] skateman commented on #66
Ah, yes, that's probably something we want. But I'm not sure how to implement it, or that @Hyperkid123 and @rvsia would want it.

[2019-09-18 13:33] Hyperkid123 commented on #66
@brumik it is supposed tu support "everything" that you create mapping for. Design the code so its customize-able what is rendered inside the addon. Right now it can be hardcoded in the pf3 mapper because there will be need for some changes in the renderer in order to access the renderer mappers. I will take care of that once i am back from PTO. Or you can take a look and propagate the Component c

[2019-09-19 07:36] skateman opened #132 "Same placeholder text for datepicker with date and date-time"
The one with datetime should have datetime instead of date:
![Screenshot from 2019-09-19 09-22-44](https://user-images.githubusercontent.com/649130/65223165-e0b44f80-dac0-11e9-9eb3-0b82e21280fa.png)

[2019-09-19 08:05] brumik commented on #10
\+ Documentation for development setup

[2019-09-19 09:30] skateman opened #133 "The initialValue props are not being updated upon schema change"
Whenever you edit the `initialValue` of a field, it's not getting updated even though the component is re-rendered. @rvsia told me that this has something to do with the state of the given component.

I have no way to force a new initial state with anything else than a complete re-render of the whole `FormRender` component. This is a UX disaster as the re-render makes the page flashy upon every dr

[2019-09-19 10:56] skateman commented on #117
There's no mention of the `initialValue` of each component, only the global `initialValues`.

[2019-09-19 14:36] skateman commented on #133
Same happens for `options` in select and my guess is that elsewhere as well :disappointed:

[2019-09-23 14:49] skateman opened #135 "Handling onChange events"
Would it be possible to call an `onChange` function any time an item has been changed?

[2019-09-23 18:20] skateman opened #136 "Checkbox component ignoring value, always sending true or false"
Even if I set a `value` on a checkbox, it sends `true` when it's checked.

[2019-09-30 08:03] Hyperkid123 opened #137 "Broken link to the [list of standard components](https://data-driven-forms.org/renderer/form-schemas) on [this](https://data-driven-forms.org/renderer/field-provider) page"
Broken link to the [list of standard components](https://data-driven-forms.org/renderer/form-schemas) on [this](https://data-driven-forms.org/renderer/field-provider) page

_Originally posted by @skateman in https://github.com/data-driven-forms/react-forms/issues/117#issuecomment-532368847_

[2019-09-30 08:03] Hyperkid123 commented on #137
@rvsia can you please fix this?

[2019-09-30 08:04] Hyperkid123 opened #138 "There's no mention of the `initialValue` of each component, only the global `initialValues`."
There's no mention of the `initialValue` of each component, only the global `initialValues`.

_Originally posted by @skateman in https://github.com/data-driven-forms/react-forms/issues/117#issuecomment-533078982_

[2019-09-30 08:05] Hyperkid123 commented on #128
@skateman can you post an example of such condition? Maybe we can find some pattern in it.

[2019-09-30 08:07] Hyperkid123 commented on #136
Yes? That is how check box works. Values is name of the checkbox.

[2019-09-30 08:08] Hyperkid123 commented on #135
I don;t get that. You want to add custom `onChange` function?

[2019-09-30 08:14] Hyperkid123 commented on #133
There is a way to re-initialze the form state. The field gets a prop `formOptions.initialize` which is documentend here: https://final-form.org/docs/final-form/types/FormApi#initialize

this is only accessible by form components not form outside! We could technically expose the form api in a callback like `formDidMount` which could send all these options outside of the form but i want to avoid it

[2019-09-30 08:54] skateman commented on #133
Yeah, I'm editing a form and passing a brand new schema (immutable solution as you asked for) and the default values don't update. Also when adding new options to the dropdown, the options don't show up.

I'm not entirely sure if the whole form should be reinitialized, I just need the changed schema to prevail in the form consistently all the time.

[2019-09-30 08:58] Hyperkid123 commented on #133
The issue is that initial values are after component mount added to form state values which is then preserver and the state has higher priority than the initialValues which will keep the first value in. If you want to change the initial values you unfortunatelly have to initialize the form. Or you might try to use `defaultValue` prop instead of the `initialValue` on the field.

[2019-09-30 08:58] skateman commented on #128
@Hyperkid123 the `condition` is a no go for me, because it's not adding the form element to the DOM. I need a `display: none` kind of solution here.

[2019-09-30 08:59] Hyperkid123 commented on #136
Well let me correct myself. That is what event.checked returns. And that is what is used for single checkbox.

[2019-09-30 09:00] Hyperkid123 commented on #128
OK, that is something we can add.

[2019-09-30 09:01] skateman commented on #136
Okay, so you're differing from the HTML specification, I don't think this is a good idea. Also I need the name/value, not the value/true :confused:

[2019-09-30 09:02] skateman commented on #136
I understand that you probably need this for the multiple checkboxes, but this is seriously breaking the HTML specs...

[2019-09-30 09:02] Hyperkid123 commented on #136
We are not redefining anything we just use the checked value which is begin returned from event. Do you want to the whole event to be stored in the form state?

[2019-09-30 09:03] Hyperkid123 commented on #133
Options are not stored in state i have to investigate why its not being updated.

[2019-09-30 09:41] skateman commented on #136
I just want this to be consistent with the way a regular HTML form's checkbox would behave. I.e. submitting `[name]: value` instead of `[value]: true`. I get it that this is not doable with a set of checkboxes, but at least for single ones, this should be doable.

[2019-09-30 11:10] Hyperkid123 commented on #136
I am sorry but i will not be adding this functionality to single checkbox component. If you have single checkbox in your form you expect that something is on/off, yes/no, true/false. In fact from UX perspective I'am constantly told that you should not use single checkbox but switch component instead.

Form submits `[name]: true/false` which was our decision because it matches all the use-cases we

[2019-09-30 11:10] #136 closed

[2019-09-30 11:15] skateman commented on #136
@Hyperkid123 I don't really care if the component is a switch or a checkbox. However, I don't see how the switch is better if they behave the same way. Or is there a way to send a custom value for a switch? Instead of the `true/false`...

[2019-09-30 11:58] skateman commented on #135
I'll look into this, thanks

[2019-09-30 13:05] #137 closed

[2019-09-30 13:05] Hyperkid123 commented on #117
@skateman should be fixed by https://github.com/data-driven-forms/react-forms/issues/137

[2019-09-30 13:23] #138 closed

[2019-09-30 13:24] Hyperkid123 commented on #117
@skateman should be fixed by https://github.com/data-driven-forms/react-forms/issues/138

[2019-09-30 13:29] rvsia opened #142 "Missing documentation for development setup"
\+ Documentation for development setup

_Originally posted by @brumik in https://github.com/data-driven-forms/react-forms/issues/10#issuecomment-533017571_

[2019-09-30 13:36] rvsia opened #143 "Beginner tutorial"
**Description**

To create some simple step-by-step (which should a reader watch along) tutorial, which would present all basic props and concepts.

Mainly:
- How to use renderer and provided mappers (+ installation)
- How to write schema
- Validation (recordlevel/field level)
- Submit actions
- InitialValues

I was thinking about creating some basic registration form:

`Name`
`Password` (validati

[2019-10-04 07:10] skateman commented on #133
Seems that the `defaultValue` behaves the same way :disappointed:

[2019-10-04 07:35] Hyperkid123 commented on #133
Ok let me try adding some didMount callback which would expose the formAPI and re-initialize the form.

[2019-10-04 08:13] Hyperkid123 commented on #128
@skateman ok I've started working on this there is one thing and that is the prop name. Easiest way would be wrapping the hidden element in div with
[code]
The question is how to call it because word `hidden` is very common prop name and since it has to be extracted and not passed to final component from same as condition or validate is now, it might cause some issue with certain design systems.

[2019-10-04 08:29] skateman commented on #128
What about `display: false`?

[2019-10-04 08:30] Hyperkid123 commented on #128
`display`, `hidden` etc are common props for number of react components across multiple libraries :( I don't want to make them map these props to something else.

[2019-10-04 09:16] #128 closed

[2019-10-04 13:20] skateman commented on #128
As far as I see, the wrapper is above the mapped component, therefore, there's no way to override the visibility using a custom component mapper. My goal is to not have the items hidden in the editor (i.e. custom mapper), but only when rendering the form for "playing" it. @Hyperkid123

[2019-10-04 13:24] rvsia commented on #128
So, just remove the `hideField` from the editor schema.

[2019-10-04 13:27] skateman commented on #128
@rvsia the schema is the same and should be the same, the rendering should be different. If I start conditionally altering the schema, I'll end up with :spaghetti: all over the place.

Also if we're here, I don't really understand why you could not chose `hidden` if you're using a wrapper that is around the mapped component, therefore, there's an ability to not pass the data further. The two thing

[2019-10-04 13:41] rvsia commented on #128
I'm not sure if I understand that correctly. What do you mean by different rendering? DDF has always the same rendering, only schemas are different. And about editor, I think you should do some pre-processing of the schema, flag the hidden ones and change the schema again when converting it out of the editor.

[2019-10-04 13:43] skateman commented on #128
@rvsia this is a crazy antipattern, and just to compensate a useless feature. I'd rather implement my own `hideField` implementation inside the custom component mapping. In this case, you can just simply revert the feature.

[2019-10-04 13:45] skateman commented on #128
Yeah, you will have to revert the feature as now the `hideField` prop isn't even bubbling down to the component level :disappointed:

[2019-10-07 13:50] skateman opened #149 "Multi-field validation"
I noticed in the provider forms, that some of them have a little bit more strict schema than in our current implementation. More specifically, filling the capacity and utilization data is strictly mandatory in them. However, in our current implementation, we make it mandatory only if at least one of the fields in that section is filled out.

Could we do something similar in DDF? Let's say if you f

[2019-10-07 20:56] skateman commented on #128
@Hyperkid123 @rvsia can you please revert this feature? It's totally useless as it is implemented right now.

[2019-10-07 20:56] skateman opened #150 "Minimum date setting for date/datetime picker"
The dialog editor's date/datetime picker has a show past dates feature that, when it's set to false, doesn't allow you to select any date/datetime before Today(). As far as I analyzed the code, it is implemented as a minimum date passed to the component's backend. Would it be possible to have something similar? Either the minimum date exposed, or just an optional limit to select a future date?

No

[2019-10-08 06:34] Hyperkid123 commented on #128
@skateman so you want us to duplicate the same code across all the mappers instead of doing it one place? I think we should sit down and talk about how we are doing things here.

It might be "useless" for your use case but your use case is something completely different than for what is this library being used for and was designed for.

[2019-10-08 07:16] skateman commented on #128
@Hyperkid123 I agree that we should sit down, because the PR and the issue have been merged/closed before I could take a look.

[2019-10-08 07:49] #72 closed

[2019-10-08 07:52] Hyperkid123 commented on #149
There is a form level validation but that requires function which would probably not help here.

If i understand this correctly this is basically conditional validation?

[2019-10-08 07:58] skateman commented on #149
Yeah, field A is required if field B or field C are set. Also field B is required if field A or field C are set. Check it out in the current provider form, for example for RHV. The capacity and utilization tab will behave as I described.

[2019-10-08 08:09] Hyperkid123 commented on #149
When i think about the schema for this i can imagine something like:
[code]

Checking if some field from a SET of fields is filled might require a bit more work. Problem with subform is that its is only a visual separation of some fields, not in the form state. We could theoretically check the schema but since it can be nested (subform inside a subform) we might hit some performance issues.

This

[2019-10-08 08:18] Hyperkid123 commented on #149
@skateman ah i see now. So it would basically be:
[code]
This should not be a problem let me think about it for a bit.

[2019-10-08 08:27] Hyperkid123 commented on #150
@skateman you can "black-list" dates:
[code]
We are using http://react-day-picker.js.org/ which I've noticed is not mentioned in the docs.

How it now accepts only Date object not a string. I will fix that.

[2019-10-08 08:50] skateman commented on #149
As we can chain validators, this seems as a working alternative. When you have a PR, I'd like to try to model this with the aforementioned C&U form before merging.

[2019-10-08 08:51] skateman commented on #150
I'm good with the object for now, but probably if we go full JSON, the string is a better option.

[2019-10-08 08:52] Hyperkid123 commented on #150
@skateman is there some sort of special string format of dates? Or is it anything generally accepted by js `new Date()`

Its easy to sanitize

[2019-10-08 08:54] skateman commented on #150
No, there isn't and I'm okay with `new Date()` but please don't forget to document it properly. Also the time and date-time should be parseable.

[2019-10-08 08:55] Hyperkid123 commented on #150
It always returns `Date` object

[2019-10-08 08:55] skateman commented on #150
Also we might need some kind of wildcards for `TODAY`, if that's possible. As I described above, in some cases the date can't be in the future and we can't really define a dynamic date in a JSON schema :confused:

[2019-10-08 10:16] Hyperkid123 commented on #150
Yep. `today` might be good enough

[2019-10-08 10:29] rvsia opened #151 "PF4 wizard: Show title for step in content"
In Sources-UI (cc @terezanovotna ) we need to show the title of the current step also in the body of the step.

So, I would like to add a option for wizard `showTitles`

[code]

And for each step add a option `hideTitle` / `showTitle` which will hide(= override the `showTitles`)/show the title

and `customTitle` - for cases, when a user need to provide different title for the body and for the navi

[2019-10-08 11:14] Hyperkid123 commented on #133
@rvsia this is an issue with select. Take a look once you have time

[2019-10-08 11:22] Hyperkid123 commented on #127
We will start working on soon

[2019-10-08 11:22] Hyperkid123 commented on #127
cc @rvsia

[2019-10-08 11:23] Hyperkid123 commented on #127
@rvsia do you know if there is something similar in PF4?

[2019-10-08 11:23] Hyperkid123 commented on #135
@skateman any update?

[2019-10-08 11:45] Hyperkid123 commented on #151
Well if this is what we need :wink:

[2019-10-08 11:57] rvsia commented on #127
@Hyperkid123 PF4 design has also a `?` popover, but it isn't in the React implementation.https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/forms

Helper text is used to provide information to complete the form, the popover is used to provide background information.

[2019-10-08 12:16] Hyperkid123 commented on #127
We have a bit of mismatch of naming here.

helperText in PF4 is the text under the input component but in PF3 its apparently the other way around. Since we are mapping PF4 API on PF3 components to have easy upgrade we are kind of screwed here.

[2019-10-08 13:14] skateman commented on #135
@Hyperkid123 I'll probably not need it, investigating right now.

[2019-10-08 13:15] skateman commented on #127
An alternative is to drop one of the two items and have just a single one, that will behave differently in PF3 and PF4.

[2019-10-08 13:16] skateman commented on #127
BTW, isn't the lack of [this](https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/forms#provide-the-right-kind-of-help) a bug in pf-react?

[2019-10-08 13:18] Hyperkid123 commented on #127
I think you shuold be able to compose it. There are necessary components i think but just not used together. @rvsia can correct me. He was playing with the popover in sources.

[2019-10-08 13:27] rvsia commented on #127
@Hyperkid123 Yeah, of course, you can compose it, but it's not support by FormGroup.

[2019-10-08 13:29] rvsia commented on #128
Actually, I found this very useful in Sources-UI, it prevents rendering empty whitespaces in forms, where `type: hidden` is used (obtained by DB).

[2019-10-08 13:51] #150 closed

[2019-10-08 14:27] #135 closed

[2019-10-11 08:53] #127 closed

[2019-10-11 16:22] skateman opened #160 "Dropdown doesn't play well with date picker in PF3"
![Screenshot from 2019-10-11 18-21-35](https://user-images.githubusercontent.com/649130/66667775-14b00a00-ec54-11e9-8ced-028a37285f32.png)

[2019-10-11 16:37] epwinchell commented on #160
@skateman A similar issue was resolved/discussed here: https://github.com/ManageIQ/manageiq-ui-classic/pull/6264

cc\ @Hyperkid123

[2019-10-14 06:33] Hyperkid123 commented on #160
Thanks for bringing this up. I will check it ASAP.

[2019-10-14 06:49] #151 closed

[2019-10-14 08:39] #142 closed

[2019-10-14 09:41] Hyperkid123 commented on #160
I really don't understand why selector `.input-group .form-control` from pf3 has z-index value 2.

[2019-10-14 14:31] #160 closed

[2019-10-14 15:35] #132 closed

[2019-10-16 11:44] skateman commented on #133
fixed here https://github.com/skateman/ddf-editor/commit/c69263cf496899290449410f3bb9f3ab580eb5e2

[2019-10-16 11:44] #133 closed

[2019-10-18 06:16] skateman opened #169 "Data types don't play well with multiselects"
When setting a data type on the multiselect, it basically becomes unusable as not the individual selected items are forced to be a data type, but the whole array is being tested:

![Screenshot from 2019-10-18 08-15-02](https://user-images.githubusercontent.com/649130/67070131-84a42000-f17f-11e9-802b-31fb1c8a8987.png)

I think in this case the type enforrcement should be ran on each array member se

[2019-10-18 06:41] Hyperkid123 commented on #169
@skateman yep you are right. This will be fixed.

[2019-10-18 11:12] skateman opened #171 "Consistency in top-level attributes of the schema"
I noticed that if you set a `description` on the top level of the schema, it gets rendered consistently with descriptions on lower levels. However, the `label` attribute is not getting rendered.

So for example, the following schema:
[code]

Gets rendered like this:
![Screenshot from 2019-10-18 13-07-00](https://user-images.githubusercontent.com/649130/67089667-81715a00-f1a8-11e9-8ecb-71a48e925af6

[2019-10-18 14:13] rvsia commented on #171
Yeah, there is `title` prop, which works like that, but it makes sense to have `label` too to be consistent. Check the PR I made, I also updated docs to get this info clear. Thanks for the issue!

[2019-10-18 16:11] skateman opened #174 "Validate field cannot be undefined"
@Hyperkid123 told me that there's no difference between a field not being specified or having its value as `undefined`. Well, it seems there is:

![Screenshot from 2019-10-18 18-10-48](https://user-images.githubusercontent.com/649130/67110276-a24ea500-f1d2-11e9-999b-e4b4375ea08f.png)

Should I have a special case for this, or can this be fixed somehow on your side?

[2019-10-18 19:06] skateman commented on #174
I actually sorted this out, but it might be still a problem for you ... feel free to close it.

[2019-10-18 21:31] skateman opened #175 "Custom validator that is bound to an external variable"
When editing a field in ddf-editor, the uniqueness of the `name` has to be tested against the whole schema. My idea was to create a HOC that allows us to pass the schema to the component:
[code]

The problem with this approach is that the `validate` prop is already used by `FieldProvider`, but in a different format that is being built by `composeValidators`. Is there a way that I could make my cus

[2019-10-18 21:35] skateman opened #176 "Higher order components with clearOnUnmount ignore initialValue"
If an item in the schema with `clearOnUnmount` is implemented using a higher order component, the rendered field ignores the `initialValue` of the given element. First I thought it's a side-effect of my `Options` component, but I was able to narrow it down to the fact that this is caused by having it as a HOC.

[2019-10-18 23:27] skateman commented on #175
Nevermind, found a solution using the record level validation.

[2019-10-18 23:27] #175 closed

[2019-10-19 09:41] skateman opened #177 "Datepicker keeps displaying placeholder if initialValue is set"
The datepicker doesn't display the `initialValue`, but the placeholder instead.

[2019-10-19 09:47] skateman opened #178 "Problems with datepicker's submitted format and timezone"
The submitted value of the datepicker is always the "Zulu" military time, even if the selected value is displayed as a regular date. This time is equal to the UTC, so if you select *2019-10-19 11:46* in the timepicker, you will get *2019-10-22T09:46:00.000Z* to submitted.

We either need to submit a date object or a way to customize the submitted value (maybe based on the variant?) or an option to

[2019-10-21 08:18] skateman opened #179 "Multiselect accepts non-array initialValue, single select doesn't accept array"
There's a slight inconsistency in how `initialValue` is handled between single and multiselect. Would it be possible for the single select to accept an array of one element?

[2019-10-22 07:29] Hyperkid123 commented on #174
@skateman can you post the schema you used please?

[2019-10-22 07:45] skateman commented on #174
[code]

[2019-10-22 07:46] Hyperkid123 commented on #174
Interesting. I will have to check it.

[2019-10-22 07:50] #171 closed

[2019-10-22 12:18] Hyperkid123 commented on #178
@skateman you will always get Date object.

Are you sure about the time zone offset? I just tried it and got `Fri Oct 18 2019 14:16:00 GMT+0200 (Central European Summer Time)` which matches the timezone I am in.

Its base on the browser timezone.

[2019-10-22 12:21] Hyperkid123 commented on #179
I think we should do it the other way around honestly. I think its a bug that multi select accepts single value. But i see why you want it this way.

I think we should make this work.

I believe it comes from the react-select library.

[2019-10-22 12:39] skateman commented on #179
Thanks :+1:

[2019-10-22 12:39] skateman commented on #179
It would help a lot

[2019-10-22 12:47] Hyperkid123 commented on #179
@skateman I think there might be slight issue with this.

What if you want your value to be an array? For example you have some option where the values are
[code]

I think we should hide this obscure use case behind some prop. By default single select would take the first element from an array if it exists. And when you pass some prop it will expect an array.

[2019-10-22 12:57] skateman commented on #179
Wait, why would I set multiple values in a multiselect? Or is it the `simpleValue: false` solution? I'm not interested in that one.

[2019-10-22 13:00] Hyperkid123 commented on #179
That was for single select not multi select. I did see some cases when value was in fact not a literal but an array.

TLDR. It will work for single select as you require. PR is on its way.

[2019-10-22 13:00] skateman commented on #179
:+1:

[2019-10-22 13:37] Hyperkid123 commented on #104
@skateman can i close this issue? I want to remove tag control from the mapper since its is MIQ specific variant of async select.

[2019-10-22 14:08] #104 closed

[2019-10-24 08:30] #179 closed

[2019-10-24 08:39] Hyperkid123 opened #184 "Allow date-time picker input formatting"
Allow users to set format `yyDDmmmm` for example for the picker input.

[2019-10-24 09:02] #169 closed

[2019-10-24 09:17] skateman commented on #178
Well, the problem is when you have just a date (no time) selector in UTC+2 timezone at 0:30 midnight and you select a date. If the server uses a different timezone, you might end up with a different date stored in the db. Again, because of the time ... which is not even part of the picker.

[2019-10-30 19:56] skateman opened #187 "Selecting an item in a multiselect with a numeric dataType crashes"
When selecting an item in the dropdown described by the schema below, the form just crashes:
[code]

Closes https://github.com/skateman/ddf-editor/issues/6

[2019-10-31 12:34] skateman opened #189 "Opening a datepicker with a preset initialValue crashes"
The schema below throws an an `e.getTime is not a function` error:
[code]

[2019-10-31 12:40] skateman commented on #189
My guess that this is PF3-specific, because I can't reproduce it on the live form editor in material.

[2019-11-01 08:34] Hyperkid123 commented on #189
@skateman ah. So i added support for string dates for the disabled days but not for initial values. Fixing asap.

[2019-11-01 08:34] Hyperkid123 commented on #189
btw the mui mapper is using completely different component by materiel ui. That is why its working.

[2019-11-01 09:29] #187 closed

[2019-11-01 09:51] #189 closed

[2019-11-01 09:56] skateman commented on #178
I tested this in the current dialog editor and the backend has some kind of compensation for this, so this is fine.

[2019-11-01 09:56] #178 closed

[2019-11-01 09:57] #176 closed

[2019-11-04 07:42] Hyperkid123 commented on #174
@skateman ok after checking this out the issue is not in the renderer but in the schema validator. It checks if there is a key `validate` and if there is it checks if the values type is na `Array`. Fixing now.

[2019-11-04 08:26] #174 closed

[2019-11-07 17:55] rvsia commented on #122
With nextjs this is basically done. 🤑

[2019-11-07 17:55] #122 closed

[2019-11-11 09:07] #184 closed

[2019-11-11 09:13] Hyperkid123 commented on #184
:tada: This issue has been resolved in version 1.22.9 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](/https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](/https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](/https://www.npmjs.com/package/@d

[2019-11-12 12:18] Hyperkid123 opened #221 "Enable translations"
Add an API to form renderer for i18n.

Instead of forcing specific translation method, I think we should add a prop to FormRenderer:
- [ ] must be able to handle function (libraries like gettext)
  - this will return label as string to component
- [ ] must be able to handle React node (libraries like react intl)
  - this will return label as node
  - might break component styling
- [ ] anything el

[2019-11-12 15:15] Hyperkid123 opened #223 "Fix the sticky side nav in docs."
Sometimes the table of contents in docs overlaps with the footer content.

[2019-11-12 15:52] #223 closed

[2019-11-12 15:54] rvsia opened #225 "FieldArray provider page missing table of contents"
FieldArray provider page missing table of contents (lost during the transition into nextjs app)

[2019-11-12 18:04] rvsia commented on #221
Summary: we agreed to create an extension, which will rebuilt a schema to contain translated strings:

Advantages
- better testing (one input, one output)
- code on one place
- configurable without changing the schema
- no possibility of breaking changes

[2019-11-13 08:42] Hyperkid123 commented on #223
:tada: This issue has been resolved in version 1.22.12 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@dat

[2019-11-13 08:52] #225 closed

[2019-11-13 21:02] rvsia opened #228 "Remove TagControl from all schemas"
Removed TagControl component remains in schemas accross the demo, these schemas cannot be rendered.

[2019-11-14 12:45] rvsia opened #229 "[Demo UX/UI] Inconsistent header levels"
Headers across pages are not consistent (see https://data-driven-forms.org/renderer/component-mapping vs https://data-driven-forms.org/renderer/renderer-api)

We need to decide styles for each level of heading:

[code]

Material-UI headers

![Screenshot from 2019-11-14 13-39-23](https://user-images.githubusercontent.com/32869456/68857935-3cc3da80-06e4-11ea-96fc-28092bb7f1ea.png)

I would start on

[2019-11-14 19:06] rvsia opened #231 "Provide a way how to ignore empty values in Length validators"
**Description**

In Sources-UI I am using the same schema for adding/editing a source and ARN has to have minimal character count. However, because it is a 'password' value, I don't get the value from the API I can't repopulate the schema, so I cannot edit a source, because it is empty.

And even all other validators ignore empty values.

So I think we should do either:

A) Ignore empty values
or

[2019-11-15 08:27] Hyperkid123 commented on #231
Can you post an example schema? All validators should by default ignore empty values. If that is not the case then we should fix it.

[2019-11-15 08:33] Hyperkid123 commented on #229
@rvsia starting on level `h4` from the DOM perspective is wrong. We have keep the `hx` hierarchy clean. What we can do is reduce the text size. We must always start at `h1` for primary title and go down from there. It will help the doc search crawler to create better indexes

[2019-11-15 08:33] #228 closed

[2019-11-15 09:06] rvsia commented on #229
@Hyperkid123 Yes, I was talking about the font size = h1 should have size of material-ui level 4 (or 3...) and so on.

[2019-11-15 09:07] rvsia commented on #231
@Hyperkid123  https://data-driven-forms.org/renderer/validators#lengthvalidators

[2019-11-15 09:19] rvsia commented on #231
So, should I fix it by ignoring empty values by default?

[2019-11-15 12:48] rvsia opened #232 "Provide propTypes object"
**Description**

When we are mentioning some arguments passed into a component/function in the documentation, we could also provide the exact propTypes.

For example: https://data-driven-forms.org/renderer/form-controls#formbuttonsrenderprops

We could write there a full propTypes object which an user could just copy, paste and use.

(Or make this object importable from some package - common?)

[2019-11-18 08:15] Hyperkid123 commented on #231
@rvsia yep

[2019-11-18 08:49] doruskova commented on #229
@rvsia @Hyperkid123 I would start from h3 in material-ui. So, it should be 3rem (48/16px) with 0 letter spacing. h1 and h2 in material-ui looks too big.

[2019-11-18 11:02] #231 closed

[2019-11-18 11:04] #229 closed

[2019-11-18 11:08] Hyperkid123 commented on #229
:tada: This issue has been resolved in version 1.22.13 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@dat

[2019-11-18 11:08] Hyperkid123 commented on #231
:tada: This issue has been resolved in version 1.22.13 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@dat

[2019-11-18 11:08] Hyperkid123 commented on #228
:tada: This issue has been resolved in version 1.22.13 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@dat

[2019-11-18 11:08] Hyperkid123 commented on #225
:tada: This issue has been resolved in version 1.22.13 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@dat

[2019-11-19 08:19] rvsia opened #236 "Introduce initializeOnMount"
As https://github.com/final-form/final-form/pull/294 brings changes which no longer supports re-initializing value using `initialForm`, we should introduce something like `initializeOnMount` (same mechanism as a `clearOnMount`) to our schemas if the final-form keeps being unchanged.

[2019-11-20 13:55] #236 closed

[2019-11-20 13:59] Hyperkid123 commented on #236
:tada: This issue has been resolved in version 1.23.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2019-12-03 06:21] skateman opened #250 "PF3: No helperText being rendered on checkboxes"
Maybe it's not even wanted, but noticed that:

[code]
ignores the `helperText`:
![Screenshot from 2019-12-03 07-20-01](https://user-images.githubusercontent.com/649130/70025456-695d6a80-159d-11ea-87c0-9ead837b4b36.png)

[2019-12-03 10:01] rvsia opened #251 "URL validator: Cannot set custom message"
**Schema**

[code]

**Expect behavior**

Show `bar`

**Current behavior**

Shows 'String is not URL.'

cc @Hyperkid123

[2019-12-03 13:18] Hyperkid123 commented on #251
@rvsia can you fix that?

[2019-12-03 13:31] rvsia commented on #251
@Hyperkid123 yep, will do it

[2019-12-03 20:08] Hyperkid123 commented on #251
@rvsia so the issue is on this line: https://github.com/data-driven-forms/react-forms/blob/master/packages/react-form-renderer/src/validators/validator-mapper.js#L38

options are not being passed through. It should be an easy fix

[2019-12-04 10:31] skateman opened #254 "PF3: Date picker icon regression after update"
I just noticed after updating my packages that the datepicker's icons for moving between months look different now:
![Screenshot from 2019-12-04 11-17-57](https://user-images.githubusercontent.com/649130/70135020-7fe0f000-1689-11ea-8d56-009a3517ddc7.png)

It used to be like this:
![Screenshot from 2019-12-04 11-19-30](https://user-images.githubusercontent.com/649130/70135033-85d6d100-1689-11ea-999

[2019-12-04 10:32] rvsia commented on #254
It does on demo too https://data-driven-forms.org/component-example?component=date-picker

[2019-12-04 15:34] #251 closed

[2019-12-04 15:34] Hyperkid123 commented on #254
@skateman yep this was after PF update. @rvsia is taking care of that.

[2019-12-04 15:39] Hyperkid123 commented on #251
:tada: This issue has been resolved in version 1.23.3 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2019-12-06 18:00] skateman opened #256 "Custom component page has a typo in the example"
https://data-driven-forms.org/renderer/field-provider#implementationofcomponent

On the 3rd line there's a missing comma after `name`:
[code]

[2019-12-07 06:18] skateman opened #257 "Possibility to wrap custom components via parametrization"
The [`shouldWrapInField`](https://github.com/data-driven-forms/react-forms/blob/master/packages/react-form-renderer/src/form-renderer/helpers.js#L14) function always returns `false` for custom components as `fieldComponents` is a pre-defined array. There is a way to wrap the custom component with a `FieldProvider` manually, however, it will not have the same effect with a decorated mapper (i.e. fo

[2019-12-07 06:30] skateman commented on #257
The main issue with the wrapping order is that the `FieldWrapper` modifies the structure of the passed params, specifically `name` becomes `input.name`.

[2019-12-10 09:36] Hyperkid123 commented on #257
@skateman that is exactly how you are supposed to get these. All input specific props are inside `input` object even if the component is wrapped. The Field provider generates this automatically and adds a lot of critical props (like `onChange`) to it.

We actually want to remove `shouldWrapInField` entirely after we can move to hooks and use latest version of final form. So even the "officially" d

[2019-12-10 09:51] #95 closed

[2019-12-10 09:51] Hyperkid123 commented on #95
Done

[2019-12-10 09:51] Hyperkid123 commented on #10
Should be done

[2019-12-10 12:17] #256 closed

[2019-12-10 12:27] Hyperkid123 commented on #256
:tada: This issue has been resolved in version 1.23.4 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2019-12-10 12:27] Hyperkid123 commented on #250
:tada: This issue has been resolved in version 1.23.4 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2019-12-10 14:27] skateman commented on #250
Okay, what about single checkboxes?

[2019-12-10 14:29] skateman commented on #257
I am okay with consistency, so if all components need to be wrapped the same way.

[2019-12-10 14:29] #257 closed

[2019-12-10 14:37] rvsia commented on #250
@skateman `Description` works, `helperText` cannot be shown because the single checkbox does not have a standard label which contains the help icon.

[2019-12-10 14:48] skateman commented on #250
I'm just wondering how does this fit into the PF3 specs :confused:

[2019-12-10 14:53] Hyperkid123 commented on #250
@skateman yeah i am wondering that myself. Is this usable in miq right now? Maybe we can use that for now.

- [ ] label

So this is how the single checkbox looks right now. Where would you put the question mark icon?

[2019-12-10 15:31] #254 closed

[2019-12-10 15:36] Hyperkid123 commented on #254
:tada: This issue has been resolved in version 1.23.6 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2019-12-10 16:16] skateman commented on #250
Umm, it's not working even on the old dialog editor. But in the dialogUser it looks like this:
![Screenshot from 2019-12-10 11-15-59](https://user-images.githubusercontent.com/649130/70547187-7bf81680-1b3e-11ea-992a-4a0698b045c4.png)

[2019-12-10 16:32] Hyperkid123 commented on #250
ok so the helper after

[2019-12-10 16:32] Hyperkid123 commented on #250
@rvsia can you add it to single checkbox?

[2019-12-11 16:18] skateman opened #264 "Multiselect dropdown with loadOptions doesn't allow selecting"
If a dropdown is set to `multi` and the options are loaded through a promise with `loadOptions`, the component gets re-rendered anytime you select an option. This causes the inability to select anything.

@Hyperkid123

[2019-12-12 10:14] rvsia commented on #264
Cannot reproduce this issue

**schema**

[code]

Everything works as it should.

![multiselect](https://user-images.githubusercontent.com/32869456/70703427-6fa3c300-1cd0-11ea-9103-1e1287e71bb2.gif)

[2019-12-12 10:42] Hyperkid123 commented on #264
@skateman does your component have key?

[2019-12-12 14:58] skateman commented on #264
Doesn't work even with a `key` attribute

[2019-12-12 15:02] skateman commented on #264
I added an empty `useEffect` with a `console.log` call and determined that the single select does 3 reloads for an open + select while the multiselect does 6.

Also a strange thing, if I have the field rendered as a single select and select a field, then changing it to multi -> it just works as it should.

[2019-12-12 15:17] #250 closed

[2019-12-12 15:18] Hyperkid123 commented on #264
Does your component have some state management inside of it?

[2019-12-12 15:21] Hyperkid123 commented on #250
:tada: This issue has been resolved in version 1.23.7 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2019-12-12 15:41] skateman commented on #264
https://github.com/ManageIQ/manageiq-ui-classic/pull/6506/files#diff-bd0ffa1799410bbea6710e45b1208823

[2019-12-13 15:46] rvsia commented on #264
@Hyperkid123 @skateman so, should we close this issue? This repository doesn't seem to be the right place to discuss the issue.

[2019-12-16 07:45] Hyperkid123 commented on #264
I will try to reproduce it in clean project

[2019-12-16 11:13] Hyperkid123 commented on #264
@skateman ok so the issue is in the React.cloneElement part which is used when passing children to custom component.

To fix it you have two options:
[code]

I am not 100% sure what is the cause, but this worked for me. @rvsia  We should add to the docs that using the `component` prop is the n.o 1 option and render is the n.o 2.

[2019-12-18 10:19] skateman commented on #264
It works, thank you!

[2019-12-18 10:19] #264 closed

[2019-12-18 12:14] #149 closed

[2019-12-18 12:18] Hyperkid123 commented on #149
:tada: This issue has been resolved in version 1.24.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2019-12-18 12:54] #123 closed

[2020-01-06 15:38] rvsia opened #275 "Provide option to call change from outside/initialChange"
**Scope**: FormRenderer

**Description**

In Sources UI I have this following flow:

`[ FORM ]` > submit :incoming_envelope:  > :boom: :skull_and_crossbones:  > `[ ERROR_PAGE ]` > retry button :recycle:  > `[ FORM ]`

The form has set initialValues. In the submit action, form values and initial values are compared and only modified values are sent to an API.

I need to re-set the values when resta

[2020-01-06 15:42] Hyperkid123 commented on #275
You can use `initialize` from the second submit argument.

[2020-01-06 15:51] rvsia commented on #275
The `initialize` from submit won't work as the second form is different 'instance'.

[2020-01-06 15:52] Hyperkid123 commented on #275
I see. Store the submit value then and use them as initial values for the next instance?

[2020-01-06 15:55] rvsia commented on #275
As I said, the problem is that I need to get dirty fields to know which values have been modified by user.

[2020-01-06 15:57] Hyperkid123 commented on #275
would https://final-form.org/docs/react-final-form/types/FormProps#keepdirtyonreinitialize help? Is it possible to use initialize at all?

[2020-01-06 15:59] rvsia commented on #275
What about to do something like

[code]
?

[2020-01-06 16:01] Hyperkid123 commented on #275
That is a bit better but I would still like to avoid it if possible.

Why is it a problem comparing the first initial values with the second instance of the form? You must have them somewhere. You don't need "dirty" metadata for that I think.

[2020-01-06 16:07] rvsia commented on #275
It is possible to compare the first initialValues, and second ones in the submit action but I am just trying to find some clean and simple solution. Alright, I will do it other way, thanks for discussing this! This can be closed now.

[2020-01-06 16:11] Hyperkid123 commented on #275
The thing is this behavior is very specific. I did play with the idea of exposing the formApi from the get-go but ultimately decided against it and I will be until someone finds some use-case where there is no other way :D. To be clear the above-proposed solutions are not that simple and clean to implement inside the renderer I tried.

[2020-01-06 16:11] #275 closed

[2020-01-07 13:32] Hyperkid123 commented on #123
:tada: This issue has been resolved in version 1.25.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-01-21 09:25] rvsia opened #292 "Double submit"
**Scope**: Renderer

**Description**

When pressing the submit button, the submit action is called twice.

It is caused by a redundant `onClick` event on the button, after we introduced global `onSubmit` event for the whole form.

**Schema**

[code]

cc @Hyperkid123

[2020-01-21 11:25] #292 closed

[2020-01-21 11:30] Hyperkid123 commented on #292
:tada: This issue has been resolved in version 1.26.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-01-28 16:04] rvsia opened #295 "Do MUI mapper audit"
**Scope**: MUI MAPPER

**Description**

- [componentTypes.TEXT_FIELD] :eyes:
  - [x] tests
  - [x] validation errors
  - [x] isRequired
  - [x] isDisabled
  - [x] isReadOnly
  - [x] helperText
  - [x] description (?)
  - [x] placeholder
- [componentTypes.TEXTAREA_FIELD] :eyes:
  - [x] tests
  - [x] validation errors
  - [x] isRequired
  - [x] isDisabled
  - [x] isReadOnly
  - [x] helperText
  - [x

[2020-02-09 13:47] duanewood opened #303 "Use helperText for error messages instead of label in mui"
**Scope**: mui-component-mapper, src/form-fields/form-fields.js

**Description**
The mui-component-mapper text field shows error messages as the label which removes any indication of the meaning of the field.  Recommend using the helperText for the error message instead of the label.

Current code:

[code]

Recommended change:

[code]

[2020-02-10 08:14] rvsia commented on #303
Thank for this suggestion.

I will add it to this PR https://github.com/data-driven-forms/react-forms/pull/296.

[2020-02-10 13:20] #303 closed

[2020-02-10 13:26] Hyperkid123 commented on #303
:tada: This issue has been resolved in version 1.27.6 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-02-11 03:22] duanewood opened #304 "Unclear how to display form-level submit errors"
FormRenderer

Field level submit errors are handled properly and are displayed in the fields, but form-level errors are not displayed (like final form "FORM_ERROR").

Should these be handled outside the form? -- or should it be rendered using components similar to form title and description?

[2020-02-11 08:26] Hyperkid123 commented on #304
@duanewood currently there is no way to display form-level errors. We did require this feature up until this point. We support form-level validation we should support form-level error messages.

I think that adding a new component to the mapper (error wrapper?) is probably the way to go. I think that creating a component like this should not take long.

Do you have something in mind or should we j

[2020-02-11 08:30] rvsia commented on #304
Yeah, I agree with creating additional components. Each design system can have different form errors so it shouldn't be coded into the renderer itself. (Patternfly packages use inline notification at the top of the form, but I can imagine other packages can use notifications above buttons, etc...)

[2020-02-12 08:44] skateman opened #307 "PF3: File upload component"
Just tracking that this is necessary for the provider forms.

[2020-02-12 12:09] duanewood commented on #304
For now, I can handle the errors as a side-effect of submit and show the errors below the form, but I would prefer to show them above the buttons.  Since form-level errors can come from the validate function or from submit, it should be handled in the framework.

One option could be to add a new layoutComponent ("FORM_ERROR_MESSAGE") and maybe an optional FormRenderer param like formErrorMessage t

[2020-02-12 12:26] rvsia commented on #304
@duanewood

If you need to show errors above buttons, you have two options how you can achieve that right now:

1) Use [custom form controls](https://data-driven-forms.org/renderer/form-controls), that have access to formState, so you can add the spinner when submitting, show errors above buttons, etc.

2) Create custom component which show errors in formFieldsMapper and put it in the schema above

[2020-02-12 12:40] Hyperkid123 commented on #304
@duanewood, for now, I would probably do the same as Richard said. Either option is OK.

This is an interesting idea. The only thing that has to be considered here is the subscription. Right now, the form is subscribed only to a couple of events so it would limit the metadata update. Now we do allow changing the subscription object so you would have to handle that on your own, which is fine I thin

[2020-02-14 07:36] Hyperkid123 commented on #307
This will have to be handled on the renderer level, specifically in field provider in the onChange function.

IF we have an input type of file, we will take the value from `{target: {file}}` and have to build a binary or instance of `FormData`.

[2020-02-21 13:32] rvsia opened #318 "MUI mapper cannot validate tabs"
**Scope**: MUI mapper

**Description**

When multiple tabs, forms is validating only the current active tab, because the only first tab content is rendered.

**Schema**

Sandbox

[2020-02-21 13:40] skateman opened #319 "PF3: hidden field has a title displayed"
[code]

![Screenshot from 2020-02-21 14-39-51](https://user-images.githubusercontent.com/649130/75039018-0d2d2700-54b8-11ea-80f9-e01ba2ebf0fb.png)

[2020-02-21 13:44] rvsia commented on #319
Try to set `hideLabel: true`

[2020-02-21 13:49] skateman commented on #319
Well, that doesn't really fix the semantical problem...but ok

[2020-02-21 13:51] rvsia commented on #319
If you need to hide the whole field, just use `hideField`. `type` is a prop which is passed only to the input and it's not controlled by DDF.

[2020-02-22 09:25] Hyperkid123 commented on #319
@skateman the type ties to the HTML equivalent of input. But the label is a completely different HTML element. If you don't want to show the label you have multiple options. I would leave the label `undefined`.

What you expect is basically that type hidden input should somehow hide label element:

[code]

[2020-02-22 09:26] skateman commented on #319
I found a solution, but do you really have a practical use of displaying the `label` when the field is `type: hidden`?

[2020-02-22 09:28] Hyperkid123 commented on #319
No, not really. But you can still do it. As you can in HTML, JSX, HAML, etc.

[2020-02-22 09:38] #319 closed

[2020-02-24 14:42] #318 closed

[2020-02-24 14:47] Hyperkid123 commented on #318
:tada: This issue has been resolved in version 1.27.8 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-02-27 12:50] skateman opened #332 "Merging passed initialValues from the schema and from props"
I know that the `initialValues` passed to the `FormRender` component have a higher priority. However, if this attribute is set on the component, it ignores any `initialValue` attributes defined on the field level in the schema, even those which aren't set on the component level.

I discussed this with @rvsia and he said this is a bug, the two levels should be merged with the component level as pri

[2020-02-27 12:52] rvsia commented on #332
@Hyperkid123 What do you think?

[2020-02-27 13:25] Hyperkid123 commented on #332
@skateman I was under the impression that initialValue from schema has a higher priority. I will need to think about this for a moment.

[2020-02-27 13:27] skateman commented on #332
Having the higher priority from the component actually makes more sense, but they should overlap and merge.

[2020-02-27 13:30] Hyperkid123 commented on #332
And how do you think the merge should look like?

[2020-02-27 15:36] skateman commented on #332
So this setup:
[code]

Should return with the initial values:
[code]

[2020-02-27 15:57] Hyperkid123 commented on #332
@skateman and that is not happening right now? That is how it should work.

[2020-02-27 15:59] skateman commented on #332
Nope, it doesn't

[2020-02-27 16:01] Hyperkid123 commented on #332
Huh, that is strange. Ok, I will take a look at what is going on there. This is expected behavior and I was under the impression that it is working. Apparently not.

[2020-02-28 09:08] Hyperkid123 commented on #332
@skateman co I just tried the example you posted and I am getting the exact result you wanted.

[2020-02-28 09:09] Hyperkid123 commented on #332
![screenshot-localhost_8080-2020 02 28-10_08_43](https://user-images.githubusercontent.com/22619452/75526601-5d553d80-5a12-11ea-88f1-2686545c21ce.png)

[2020-02-28 09:27] skateman commented on #332
Maybe the problem is with dotted field names? It's happening on my openstack form in MiQ.

[2020-02-28 09:31] Hyperkid123 commented on #332
Lets try that

[2020-02-28 09:33] Hyperkid123 commented on #332
@skateman
[code]

same result as before

[2020-02-28 09:34] Hyperkid123 commented on #332
Maybe try update to latest version? There might have been a bug in previous.

[2020-02-28 09:52] skateman commented on #332
Still doesn't work with the latest, I have `clearOnUnmount` and `clearedValue={null}`on the form if that helps

[2020-02-28 09:54] skateman commented on #332
Also it doesn't work for non-dotted fields, it just ignores any `initialValue` coming from the schema if the `initialValues` on the component is set to `{}˙.

[2020-02-28 09:56] Hyperkid123 commented on #332
Hmm. Still can't reproduce. Do you think you could create an example on code sandbox? No need to use any mapper just have some basic inputs.

[2020-02-28 09:59] skateman commented on #332
I'm afraid it's cause by the fact that the form is being rendered on-demand :confused: so it might be miq-specific...

[2020-02-28 10:01] Hyperkid123 commented on #332
@skateman is it happening in one specific field? Or is there some sort of pattern?

[2020-02-28 10:06] skateman commented on #332
It's a pattern, every field with an `initialValue` gets ignored in the cloud provider form :confused:

[2020-02-28 10:08] Hyperkid123 commented on #332
Well, that is a big one... Can we check it together on Monday?

[2020-02-28 10:10] skateman commented on #332
Wednesday the soonest, but sure. It's a tough one ...

[2020-03-06 12:25] chambridge opened #358 "dual-list-select is not available in PF4"
**Scope**: PF4 dual-list-select

**Description**
Attempted to use `dual-list-select` in a PF4 app and hit the following error:
![dual-list-select](https://user-images.githubusercontent.com/29379759/76083389-82e6c780-5f7b-11ea-8e23-9cc78e8f0ff5.png)

**Schema**

Use the example from here:
https://data-driven-forms.org/others/miq-components#duallistselect

[2020-03-06 12:26] rvsia commented on #358
@chambridge Do you have any special requirements for this component?

[2020-03-06 12:32] chambridge commented on #358
So we want to use it to allow users to specify what OpenShift labels they want to summarize data on for improved performance, querying, and filtering.

So here the user would have a list of the available OpenShift labels (on left) and they would move them to the right side to select as enabled for summarization, grouping and filtering.

<img width="606" alt="image" src="https://user-images.githubu

[2020-03-06 13:02] Hyperkid123 commented on #358
@rvsia I think we might want to add this one to all mappers. It's a common component. And with the changes in V2 we don't have to worry about bloating the build sizes.

[2020-03-09 13:11] Hyperkid123 opened #363 "Allow to pass FormRenderer props in the top level object of the schema"
[code]

[2020-03-09 13:49] #358 closed

[2020-03-09 13:58] Hyperkid123 commented on #358
:tada: This issue has been resolved in version 1.29.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-03-09 14:21] chambridge commented on #358
So the following needs to be bumped to the latest to pull in this change, correct?
https://github.com/RedHatInsights/settings-frontend/blob/master/package.json#L7-L8

[2020-03-09 14:22] rvsia commented on #358
@chambridge Yes.

[2020-03-10 13:13] Hyperkid123 commented on #363
Not a good idea

[2020-03-10 13:13] #363 closed

[2020-03-10 16:29] karelhala opened #372 "Send `keepDirtyOnReinitialize` to `FormRender`"
**Scope**:
FormRender
**Description**
When I try to send `keepDirtyOnReinitialize` to formRender it is not propagated there correctly. The functionality is described in [keepDirtyOnReinitialize](https://final-form.org/docs/react-final-form/types/FormProps#keepdirtyonreinitialize)

[2020-03-10 16:29] karelhala commented on #372
ping @Hyperkid123 @rvsia

[2020-03-11 08:38] #372 closed

[2020-03-11 08:42] Hyperkid123 commented on #372
:tada: This issue has been resolved in version 1.29.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-03-12 14:28] Hyperkid123 opened #376 "renderer: Initial value data type is not applied on the field."
**Scope**: Renderer

**Description**
The initial value data type is not applied in the field.

**Schema**
[code]

The initial value should be converted before its set as an initial value of a field.

[2020-03-12 14:38] rvsia commented on #376
Is this really a bug? Sounds more like user's mistake.

[2020-03-12 14:40] Hyperkid123 commented on #376
You can have input type text with integer dataType. I would stick with treating this a bug since everything is a string.

[2020-03-13 09:25] #376 closed

[2020-03-13 23:22] chambridge opened #378 "Component for defining N mapping rules"
**Scope**:
PF4 mapper, Form renderer

**Description**
I would like to be able to define mapping rules for so we can normalize Cloud Provider tags & OpenShift labels.

Ideally we could have a:
 **select-field** `=` **text-field**
and
  **select-field** **text-field** `=` **text-field**
and be able to add N of these rules.

The first would enable us to select a tag key and provide a mapping to a new

[2020-03-14 09:56] rvsia commented on #378
It sounds like it could be done with using of FieldArray https://data-driven-forms.org/renderer/field-array#pf4implementation

[2020-03-17 09:02] Hyperkid123 commented on #378
@chambridge One thing that should b pointed out is that there is no official PF design for dynamically adding form fields. Maybe we can ask for help to polish it a bit.

[2020-03-19 12:48] skateman opened #390 "Support for more complex conditions"
So far we can only do AND conditions and OR conditions with a static right-hand-side, e.g. `a == x || b == x`. However, this is not sufficient to produce more advanced conditions. There should be a support for an independent OR operator and probably a NOT operator as well. Having fully featured AND, OR and NOT operators would allow us to do basically anything.

[2020-03-19 12:48] skateman commented on #390
@rvsia @Hyperkid123

[2020-03-19 15:10] carlosthe19916 opened #392 "Typescript support"
Is there any plan to support Typescript?

[2020-03-19 16:05] Hyperkid123 commented on #392
@carlosthe19916 We do not plan it right now. We are not in the middle of refactoring to eliminate some design mistakes we did and improve overall quality of the library and code.

That said after that is we want to introduce features to also improve the developer experience as well. Exporting typings from components and functions is the obvious first step. I don't know about converting the whole c

[2020-03-19 16:40] carlosthe19916 commented on #392
@Hyperkid123 Thanks for the quick reply... I think my expectations are to be able to use Data Driven Forms in the same way as I use Patternfly React components https://github.com/patternfly/patternfly-react/

[2020-03-19 16:53] Hyperkid123 commented on #392
Ok so you are probably mostly interested in typings and code splitting. Code splitting is comming in v2 and prop typings will follow soon after that.

[2020-03-20 08:01] skateman opened #393 "Optional reprioritization of initialValue vs initialValues"
You can specify initial form field values either on the form field using `initialValue` or by passing all of them as an object as `initialValues` to the form renderer. The field-level `initialValue` has a priority over the global `initialValues` which causes problems if you're using the `initialValues` to load data from an external source.

I am suggesting to create a new prop on the form renderer

[2020-03-20 08:04] #390 closed

[2020-03-20 08:08] Hyperkid123 commented on #390
:tada: This issue has been resolved in version 1.30.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-03-20 08:11] Hyperkid123 commented on #332
@skateman closing this seems like the issue was on the MIQ side. Feel free to re-open this issue if you disagree.

[2020-03-20 08:11] #332 closed

[2020-03-20 11:12] Hyperkid123 commented on #393
@skateman is this still viable? I think the issue was resolved in a newer version.

[2020-03-20 11:31] #393 closed

[2020-03-25 08:35] #10 closed

[2020-03-25 08:35] Hyperkid123 commented on #53
In v2

[2020-03-25 08:35] #53 closed

[2020-03-25 08:36] #66 closed

[2020-03-25 08:37] Hyperkid123 commented on #71
TS support after v2. Closing in favor of #392

[2020-03-25 08:37] #71 closed

[2020-03-25 08:37] Hyperkid123 commented on #221
in v2 can yous action mapper

[2020-03-25 08:37] #221 closed

[2020-03-25 08:38] Hyperkid123 commented on #232
duplicate of #392

[2020-03-25 08:38] #232 closed

[2020-03-25 08:38] Hyperkid123 commented on #295
completed in v2

[2020-03-25 08:38] #295 closed

[2020-03-25 08:53] Hyperkid123 opened #399 "[V2] technical debt"
- [x] form template expected order SET?
- [x] from template form spy props
- [x] remove vendor assets from mui mapper
- [x] missing exports in component mapper indexes
- [x] mui missing wizard buttons labels
- [x] mui form template inline styles
- [x] missing HTML tag variants in mui plain text (see pf3 plain text)
- [x] mui radio using scss instead of JSS
- [x] mui select text field props color?

[2020-03-27 14:15] rvsia commented on #399
FormTemplate shloud be a reference

DON'T

[code]

DO

[code]

[2020-03-27 14:25] Hyperkid123 commented on #399
@rvsia we should be able to overcome anonymous components context. This is a mistake on our part.

[2020-03-30 13:33] Hyperkid123 opened #408 "[V2], form builder intergtaion"
- [x] ~~export RendererContext~~
- [ ] export un connected select directly from `select.js` files
- [ ] pluck initialValue out of props returned from `useFieldApi`
- [ ] find the select required prop definition

[2020-03-30 14:55] #408 closed

[2020-03-30 15:02] Hyperkid123 commented on #408
:tada: This issue has been resolved in version 2.0.4 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-03-31 12:02] Hyperkid123 opened #413 "Enable linter for the docs package"

[2020-03-31 15:19] #413 closed

[2020-04-01 10:54] fhlavac opened #416 "Form does not fetch initialValues from schema"
**Scope**: Form renderer

**Original code:**
[code]

**Description**
Form does not fetch initialValues from schema so I am unable to reset the form to the initial state.

**Schema**

[code]

@Hyperkid123

[2020-04-01 11:22] Hyperkid123 commented on #416
@fhlavac  This is not a bug.

I bet your reset button looks like this:
[code]

That will has the button event to the reset functions and your initial values are set to htmlEvent. You have to call it like this:
[code]

[2020-04-01 14:47] #416 closed

[2020-04-02 10:23] skateman opened #417 "The helperText is being displayed differently on the newest version"
This is not the first time this happened, helperText used to look like this:
![Screenshot from 2020-04-02 12-22-44](https://user-images.githubusercontent.com/649130/78238282-b23a1700-74dc-11ea-81d4-8ae61a18851e.png)

Now after the update to 1.30.0, it looks like this:
![Screenshot from 2020-04-02 12-22-28](https://user-images.githubusercontent.com/649130/78238294-b5cd9e00-74dc-11ea-8b6e-c70907a53a

[2020-04-02 10:24] skateman commented on #417
@Hyperkid123 @rvsia why are we keep swinging between these two? Can't we have a spec that catches all unexpected changes?

[2020-04-02 10:30] rvsia commented on #417
What was your previous version?

This has been changed in this PR https://github.com/data-driven-forms/react-forms/pull/156 in October because of you.

[2020-04-02 10:41] skateman commented on #417
1.18.0

[2020-04-02 10:43] rvsia commented on #417
Yeah, it was added in 1.19.0.

[2020-04-02 10:44] skateman commented on #417
OK

[2020-04-02 10:44] #417 closed

[2020-04-06 07:31] dave-calleja opened #418 "Can't get library to work based on docs"
**Scope**:
Imports of from renderer and mappers do not work.

**Description**
Copying the example available on the homepage (https://data-driven-forms.org/) results in imports errors, the initial one being:

[code]

Example can be seen on https://codesandbox.io/s/competent-sara-4hrxx

**Schema**
Could not even get to a point where a form is rendered!

[2020-04-06 07:55] dave-calleja commented on #418
Some more info: It seems installing the library without a specific version defaults to `v1.31.1` for some reason. This seems to be the source of the errors experienced.

[2020-04-06 08:03] Hyperkid123 commented on #418
@dave-calleja the latest version should be 2.0.x. We released a backported fix to v1 with the version 1.31.1. I think I forgot to add npm tag to mark it deprecated so it defaults older version.

Let me fix that.

In the meantime, you can try to manually set the version 2.0.5

[2020-04-06 08:03] rvsia commented on #418
Yeah, 2.x versions are not compatible with 1.x versions.

1.31.1 was released after 2.0.5 and npm lists it as the last version, that's probably why it was used as the default. https://www.npmjs.com/package/@data-driven-forms/react-form-renderer Can you please take a look, @Hyperkid123 ?

To get this demo work you have to also install Patternfly 4 react + css. We should probably add it to the demo

[2020-04-06 08:27] dave-calleja commented on #418
Yup I can confirm, installing Material UI or pattern fly (react) in addition to installing v2 version of react form renderer works fine :)

Thanks!

[2020-04-06 08:27] Hyperkid123 commented on #418
@dave-calleja thanks for finding out this issue :+1:

[2020-04-06 08:28] Hyperkid123 commented on #418
I will make v1 as deprecated. We should encourage migrating to V2 even though we still support it. That will set the default version on npm to 2.0.5

[2020-04-06 09:17] dave-calleja opened #419 "React 16.3.1 throws multiple warnings with conditional fields"
**Scope**:
The issue, from what I can tell, relates to the `final-form` library, therefore is a form-renderer issue.

**Description**
Using `data-driven-forms` with conditional fields using react v16.3.1 (does not happen in React `v16.2`), results in warnings:

[code]

It looks like `final-forms` released a fix for this (https://github.com/final-form/react-final-form/issues/174) and `data-driven-f

[2020-04-06 09:32] Hyperkid123 commented on #419
@dave-calleja yup the fix was published last week, we will update it soon.

[2020-04-06 09:48] #419 closed

[2020-04-06 09:53] Hyperkid123 commented on #418
@dave-calleja should be also fixed once https://github.com/data-driven-forms/react-forms/pull/420 finished the release on CI.

[2020-04-06 09:54] Hyperkid123 commented on #413
:tada: This issue has been resolved in version 2.0.6 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-04-06 09:54] Hyperkid123 commented on #419
:tada: This issue has been resolved in version 2.0.6 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-04-06 11:06] Hyperkid123 commented on #418
Latest npm version is now set to `v2.0.6`

[2020-04-06 11:06] #418 closed

[2020-04-07 15:01] dave-calleja opened #421 "No Field Array mapping for material ui"
**Scope**:
MUI mapper

**Description**
The field array type is not available in the mui mapper and throws an error. Tried using the mapping from patternFly and works well.

**Schema**
For example:
[code]

[2020-04-07 15:01] dave-calleja commented on #421
Was considering porting the pf4 mapping to mui and creating a PR. Is there a reason this was not moved over for mui?

[2020-04-07 15:23] Hyperkid123 commented on #421
@dave-calleja to be honest with you, we just did not think anybody would be interested. We use it in PF in our internal projects but in very limited scenarios. There is also the matter of coming up with a proper design and since we don't use mui mapper we don't have that many resources to spend on it.

If you are interested we can add it to mui mapper, or even better you can create the PR yourself

[2020-04-07 18:37] rvsia commented on #421
@Hyperkid123 No, the field array is not in the common. The implementation is simple and designs can be very different, so I see not so many reasons to make it common.

[2020-04-09 13:00] Hyperkid123 commented on #421
@dave-calleja  We had a quick session and went through the possible designs of the MUI field array and we came up with something like this. Anything is subject to change based on feedback.

Ignore the colors, the main focus here is the layout.

![Component 1](https://user-images.githubusercontent.com/22619452/78897349-50485700-7a72-11ea-9bb8-46d01bae1ff7.png)

If you want, you can start working on

[2020-04-14 22:27] mteichtahl opened #427 "Allow Conditions to set form values"
**Scope**:  FormRender, Conditions

**Description**

User may often want to use a condition to not only (optionally) evaluate the display criteria for a form field, but to also (optionally) set a form value. For example, if there is a simple 3 field form - field A is a number, field B is a string and field C should have its value set based on a set of conditions on both A and B.

This feature shou

[2020-04-14 22:57] mteichtahl opened #428 "Enhance the ability to pass material-ui styles into components"
**Scope**: material-ui mapper, Form renderer

**Description**

User require the ability to pass material-ui standard css classes into components. Each component should honour the standard material-ui global classes (for example) https://material-ui.com/api/button/#css

Users should have full CSS control over the rendered component.

**Semantics**

[code]

[2020-04-15 09:02] Hyperkid123 commented on #428
So after some initial POC, extending the props based on some mapper object is not a problem. But there some mui specific components where passing classes/className is not going to be enough.

TextField is fine, you can spread `inputProps` , `FormHelperTextProps`, etc. to the actual `TextField` root component and it gets applied like so:
[code]
The "problem" is with componsite components like switc

[2020-04-15 09:23] mteichtahl commented on #428
I think this makes sense

Sent from my iPhone

On Apr 15, 2020, at 7:02 PM, Martin Maroši <notifications@github.com> wrote:

﻿
So after some initial POC, extending the props based on some mapper object is not a problem. But there some mui specific components where passing classes/className is not going to be enough.

TextField is fine, you can spread inputProps , FormHelperTextProps, etc. to the a

[2020-04-15 10:58] Hyperkid123 commented on #427
@mteichtahl we are currently looking at the definitions. This is not that hard to implement, but there might be some unexpected side effects with the 'remainVisible' flag.

[2020-04-15 11:36] tpinne opened #430 "Docs for version 1.x still available anywhere?"
Are the docs for the old version 1.x somewhere still available? We're right before a release of a new project and the deadline doesn't allow us to refactor to V2 before launch.

But to figure out some edge cases, bugs or misbehavior in our implementation it would be great to still have the old docs somehow accessible.

[2020-04-15 12:23] rvsia commented on #430
Hi, thanks for opening this issue!

docs are available here https://pokus-next.firebaseapp.com/
or you can use old branch on github https://github.com/data-driven-forms/react-forms/tree/v1/packages/react-renderer-demo/src/app/pages

We are still releasing bugfixes, these versions are labeled as deprecated in NPM https://www.npmjs.com/package/@data-driven-forms/react-form-renderer

[2020-04-15 12:32] Hyperkid123 commented on #427
@mteichtahl so we were thinking about it and we encountered some issues with the proposed solution. Mainly there were some collisions when using the `and/or` combination.

To keep the current condition syntax and build upon it, we now have to declare what should be the condition outcome. The outcome is obviously triggered only when the **whole** condition is met, not when only a part of it is true

[2020-04-15 12:41] Hyperkid123 commented on #430
@tpinne yup the docs are still up. I understand that now it might not be the right time to migrate to v2, but I would strongly recommend doing so in the near future. We fixed up a lot of design mistakes and cleaned up the code substantially.

The schemas did not change that much, mostly we changed just some constants to make it more consistent. Most of the work would be with the form templates and

[2020-04-15 12:50] mteichtahl commented on #427
I like this approach. It’s semantically better than the proposal I offered.

For the actual condition, do we need to consider the case where no “and”, “or” etc is required? What would the key be in that case ? Do we need an “if”.  Feels natural to have the if....then....else construct.

Sent from my iPhone

On Apr 15, 2020, at 10:32 PM, Martin Maroši <notifications@github.com> wrote:

﻿
@mteichtah

[2020-04-15 12:53] Hyperkid123 commented on #427
@mteichtahl yeah, we can have the `if` and it crossed our minds. But since we don't want to make any breaking changes we should probably have it as an optional syntax as it is with the `then` and `else` keys. At the moment, you can just write simple `when: 'foo', is: 'something'` and the field will pop up.

[2020-04-15 13:03] Hyperkid123 commented on #427
@rvsia will start working on some code and we should have examples soon and see how it works.

[2020-04-15 14:16] tpinne commented on #430
Thx for that info. And great task to pin it.

The release is somewhere next week. And that time frame is too small to introduce such a "big" refactoring and retesting. Therefore this will be postponed after the release with less stress on our shoulders. But it definitely will be done, because the project is the groundwork for more to come.

[2020-04-15 14:16] #430 closed

[2020-04-15 14:28] Hyperkid123 commented on #428
@mteichtahl the PR is ready for review and after that, it will be moved to 2.1 branch. We will release it with the condition changes.

Currently, the API for component mapper looks something likes this:

[code]

You can add any props in the mapper. Mui components have a list of available component props in the docs. These props have the same API as MUI components. Also, the props can be overridden

[2020-04-15 15:50] rvsia opened #431 "Async validation disables next button on next step"
**Scope**: PF4 mapper

**Description**

Validating is set to true

**Schema**

[code]

cc @Hyperkid123

[2020-04-15 15:51] rvsia commented on #431
![error](https://user-images.githubusercontent.com/32869456/79358650-c43aa180-7f41-11ea-98a6-39f7bec13329.gif)

[2020-04-15 16:32] rvsia commented on #431
The error occurred after updating React Final Form to 6.0.0

https://github.com/final-form/react-final-form/releases?after=v6.1.0

[2020-04-15 18:08] mteichtahl commented on #428
Fantastic. Thank you

Sent from my iPhone

On Apr 16, 2020, at 12:28 AM, Martin Maroši <notifications@github.com> wrote:

﻿
@mteichtahl the PR is ready for review and after that, it will be moved to 2.1 branch. We will release it with the condition changes.

Currently, the API for component mapper looks something likes this:

const compositeMapper = {
    ...componentMapper,
    [componentTypes.SW

[2020-04-16 09:02] rvsia commented on #427
There will be added a `sequence` condition, that allows to use multiple condition at once. Their results will be accumulated, positive results will have higher priority. (The priority can be discussed.)

Example
[code]

So, when one of them is true, visible will be also true. `set` is merged together.

Only 'root' conditions can have `then`, `else` keys.

:ok:
[code]

=>
`IF (a === 'x' || b === 'x

[2020-04-17 08:23] Hyperkid123 commented on #427
@mteichtahl the feature has been merged and the next version (2.1) should be available shortly with some examples in the docs.

[2020-04-17 08:25] mteichtahl commented on #427
Thank you

Sent from my iPhone

On Apr 17, 2020, at 6:23 PM, Martin Maroši <notifications@github.com> wrote:

﻿
@mteichtahl the feature has been merged and the next version (2.1) should be available shortly with some examples in the docs.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-17 08:28] Hyperkid123 commented on #428
The feature has been implemented and release and should be deployed in a couple of minutes with examples in demo.

[2020-04-17 09:23] mteichtahl commented on #427
I have just reviewed the documentation.

Thank you so much. We look to test this next week

Sent from my iPhone

On Apr 17, 2020, at 6:23 PM, Martin Maroši <notifications@github.com> wrote:

﻿
@mteichtahl the feature has been merged and the next version (2.1) should be available shortly with some examples in the docs.

—
You are receiving this because you were mentioned.
Reply to this email direct

[2020-04-17 12:58] Hyperkid123 opened #435 "Add testing guide to docs"
**Scope**: Docs

**Description**
Create a guide for testing custom components outside of the renderer

- [ ] create new private package for docs examples
- [ ] add working testing examples

[2020-04-20 08:52] rvsia commented on #421
I am going to work on this.

[2020-04-20 14:04] #435 closed

[2020-04-21 06:37] Hyperkid123 opened #440 "Move docs examples to the examples package"
**Scope**: Docs

These examples should be moved to make them independent and fully functional pieces of code. Once the examples are moved, we can add a link to the source code and add a code sandbox links to allow users to try and modify them.

- [ ] enhance the code example component to have two modes
  - [x] just show code
  - [ ] show code with component preview
  - [ ] add code sandbox links

[2020-04-21 06:55] rvsia commented on #440
pf3-select.md
 pf3-wizard.md
 pf4-dual-list.md
 pf4-select.md
 pf4-wizard.md
wizard.md

These are just texts.

[2020-04-21 08:04] #421 closed

[2020-04-21 08:10] Hyperkid123 commented on #421
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-04-21 08:10] Hyperkid123 commented on #435
:tada: This issue has been resolved in version 2.1.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-04-21 08:17] Hyperkid123 commented on #440
The files cannot use files from outside the next compilation scope. They will be able to process pure JSX syntax :/. I will move the package to the next folder and use webpack alias instead.

[2020-04-22 06:46] #399 closed

[2020-04-22 08:28] #304 closed

[2020-04-22 08:35] Hyperkid123 commented on #304
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-04-25 16:24] Hyperkid123 opened #453 "[DOCS] Split the docs app on component library basis"
Mixing all the design systems together is not going to work. We will eventually run into more and more issues with global CSS styling.

We should split the systems to stand-alone sections of the docs.

MUI is going to be the default for the renderer examples.
All component examples should be available in all the systems separately via some option in the docs toolbar.

To avoid loading and storing

[2020-04-26 09:25] Hyperkid123 commented on #427
@mteichtahl did you have a chance to look at this?

[2020-04-27 11:55] rvsia commented on #431
Current workaround until a fix in FF is released:

[code]

This component will set a value to `1` after it is mounted, so the form is re-rendered. On unMount value is set to `undefined`. Be aware: when this component is on the last step, the value will stay in form values.

[2020-04-27 12:46] skateman commented on #307
Any update on this?

[2020-04-27 13:33] Hyperkid123 commented on #307
I can take a look at a common solution for all mappers.

[2020-04-27 14:34] Hyperkid123 commented on #307
@skateman so the code changes are very simple. Instead of value, we will store `event.target.files` to the form state. But you will have to handle the submitting on your side.

We just cannot build binaries without knowing how the data is going to be sent. We could encode it into Base64 but that might be the correct format to use for everybody and we can't just use FormData JSON since it will get

[2020-04-27 14:35] rvsia opened #456 "Wrong propTypes"
**Scope**: All mappers

**Description**

Wrong PropTypes

**String labels**

[code]

**hideLabel is not bool**

[code]

**Description is string**

[code]

**title is string**

[code]

**additional labels are string**

[code]

+ labels in options are mostly string
+ helperTexts
+ duallist select texts

String should be used only in cases like `aria-label` etc.

[2020-04-27 14:41] skateman commented on #307
cc @himdel

[2020-04-27 14:45] Hyperkid123 commented on #307
@skateman I also assume you are still using V1 of the renderer and mapper?

[2020-04-27 15:09] #456 closed

[2020-04-27 15:46] skateman commented on #307
Yes but we're planning on upgrading, right @himdel?

[2020-04-27 15:57] Hyperkid123 commented on #307
You should we fixed a lot of design mistakes. The biggest "hit" are the schemas because we changed some of the constants. But you can create a bridge between the mappers by just adding components and validators with old keys. The structure is the same. There is a migration guide in the docs.

[2020-04-27 16:03] skateman commented on #307
Saw it, seems pretty straightforward to me...

[2020-04-30 09:21] rvsia opened #464 "Enhance MUI Wizard"
**Scope**: MUI

**Description**

MUI Wizard is missing the stepper components.

**Schema**

Basic wizard schema

[2020-05-04 06:45] #464 closed

[2020-05-04 06:52] Hyperkid123 commented on #464
:tada: This issue has been resolved in version 2.1.9 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-05-04 11:11] rvsia opened #468 "[v2.4] Introduce Blueprint mapper"
**Scope**: blueprint mapper

**Description**

https://github.com/palantir/blueprint is a popular framework, so we should introduce it as another mapper

[2020-05-04 11:13] rvsia opened #469 "Introduce ANT mapper"
**Scope**: Ant

**Description**

https://ant.design/ Introduce this popular framework into DDF.

Student project from @arun-42 https://github.com/data-driven-forms/react-forms/pull/383

[2020-05-04 11:14] rvsia opened #470 "[v2.4] Introduce SemanticUI mapper"
**Scope**: SemanticUI

**Description**

https://react.semantic-ui.com/ introduce this popular framework to DDF.

[2020-05-04 11:37] #307 closed

[2020-05-04 11:42] Hyperkid123 commented on #307
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-05-04 13:57] rvsia opened #472 "Add Slider/range components"
**Scope**: All mapers

**Description**

Slider is one of basic input types and it's commonly used across webs https://www.w3schools.com/tags/att_input_type_range.asp

I think we should add it as an another component types

**Schema**

[code]

**References**

MUI https://material-ui.com/components/slider/#slider
PF3 https://patternfly-react-pf3.surge.sh/?path=/story/patternfly-react-forms-and-contr

[2020-05-04 14:10] Hyperkid123 commented on #472
@rvsia yup

[2020-05-06 12:16] #472 closed

[2020-05-06 12:25] Hyperkid123 commented on #472
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-05-11 10:50] Hyperkid123 commented on #453
Addressed by #463

[2020-05-11 10:50] #453 closed

[2020-05-14 08:31] Hyperkid123 opened #478 "[v2.4] Remove react-select from MUI"
With the changes to the common select and new select components in MUI, we can start using all the DDF features without the react-select library if the mapper library has good select component

[2020-05-14 08:32] Hyperkid123 opened #479 "[v2.4] Docs mapper specific texts"
We have a lot of technical debt when rendering mapper specific texts

[2020-05-14 08:33] Hyperkid123 opened #480 "[v2.4] Keep mapper param in the docs pathname"
When routing between component examples, we should persist the `mapper` param to stop switching between mappers on route changes.

[2020-05-14 08:34] Hyperkid123 opened #481 "[v2.4] Read me re-visit"
Packages readme are out of date. We should patch them up

[2020-05-14 08:37] Hyperkid123 opened #482 "[v2.4] Add complex components to blueprint mapper (wizard, field array)"
Wizard and field array are missing. We should implement them using the common functionality

[2020-05-14 08:37] Hyperkid123 opened #483 "[v2.4] Add slider and dual list select to suir mapper"

[2020-05-14 08:39] Hyperkid123 opened #484 "[v2.4] SUIR customization of inner components"
The first iteration of mapper does not allow any composite components customization. Fix that.

[2020-05-14 11:29] Hyperkid123 opened #486 "[v2.4] update MUI to latest"
We had some issues with updating MUI between the docs and mapper. I want to re-visit these issues add see where is the problem.

[2020-05-14 15:01] #483 closed

[2020-05-14 15:01] #486 closed

[2020-05-14 15:11] #470 closed

[2020-05-14 15:11] #468 closed

[2020-05-15 10:51] #484 closed

[2020-05-15 10:53] rvsia commented on #427
@mteichtahl Since there is no activity here, we are closing this issue. Please feel free to re-open, if the solution is not sufficient.

[2020-05-15 10:53] #427 closed

[2020-05-15 10:54] rvsia commented on #428
@mteichtahl Since there is no activity here, we are closing this issue. Please feel free to re-open, if the solution is not sufficient.

[2020-05-15 10:54] #428 closed

[2020-05-15 10:56] mteichtahl commented on #427
This is brilliant. We are integrating in our next sprint

Sent from my iPhone

On May 15, 2020, at 8:53 PM, Richard Všianský <notifications@github.com> wrote:

﻿
@mteichtahl Since there is no activity here, we are closing this issue. Please feel free to re-open, if the solution is not sufficient.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub,

[2020-05-15 11:04] rvsia commented on #427
@mteichtahl Awesome, thanks for the update!

[2020-05-15 11:44] rvsia opened #491 "Make generator for component mappers"
**Scope**: All

**Description**

Make simple CLI tool to generate basic structure for new component mappers

[2020-05-18 14:37] #491 closed

[2020-05-18 14:42] #479 closed

[2020-05-19 12:41] rvsia opened #497 "[v2.4] Add SUIR/Blueprint to the mapper showcase on landing page"
**Scope**:DEMO

**Description**

SemanticUI and Blueprint are missing the logos on landing page

We should also transform these links to mappers section of the documentation

[2020-05-20 06:34] #482 closed

[2020-05-20 07:30] rvsia commented on #480
closed by #499

[2020-05-20 07:30] #480 closed

[2020-05-20 09:11] rvsia commented on #481
closed by #500

[2020-05-20 09:11] #481 closed

[2020-05-21 06:46] #497 closed

[2020-05-21 06:54] Hyperkid123 commented on #478
After some experimenting and attempts to use the select component from the core, I've decided to use the autocomplete component from the lab package and have it as a dependency instead of the react-select. We should keep an eye on that component until its moved to the core package.

https://material-ui.com/components/autocomplete/

[2020-05-21 11:15] rvsia opened #505 "[v2.4] Add DualList to BJS"
**Scope**: blueprint

**Description**

Add dual list component

[2020-05-21 11:26] Hyperkid123 opened #506 "[v2.4] Add SUIR mapper page"
**Scope**: Suir

The SUIR component mapper page is missing in docs

[2020-05-21 11:43] #478 closed

[2020-05-21 12:26] #506 closed

[2020-05-22 07:44] #505 closed

[2020-05-25 09:22] Hyperkid123 opened #516 "[TS] Add basic TS config and pass build"
We should start by adding support to compile TS files.

[2020-05-25 12:31] Hyperkid123 opened #519 "[TS] Add TS to react form renderer package"
- types
- props
This should enable better DX and some prop types generation in docs

[2020-05-25 13:09] Hyperkid123 opened #520 "[TS] common"

[2020-05-25 13:09] Hyperkid123 opened #521 "[TS] Blueprint"

[2020-05-25 13:09] Hyperkid123 opened #522 "[TS] SUIR"

[2020-05-25 13:09] Hyperkid123 opened #523 "[TS] PF4"

[2020-05-25 13:09] Hyperkid123 opened #524 "[TS] MUI"

[2020-06-01 05:06] roytan883 opened #531 "Select with isClearable need click twice on iOS Safari"
**Scope**:

"@data-driven-forms/mui-component-mapper": "2.4.4",
"@data-driven-forms/react-form-renderer": "2.4.4",

**Description**

Select with isClearable need click twice on iOS Safari to popup

**Schema**

{
      "component": "select",
      "label": "gender",
      "name": "gender",
      "simpleValue": true,
      "isClearable": true,
      "options": [
        {
          "label": "male",

[2020-06-01 07:11] rvsia commented on #531
Thanks for reporting this!

This bug also affects all other devices, as the `clearable` button is always shown.

Please see this PR https://github.com/data-driven-forms/react-forms/pull/532

[2020-06-01 07:30] #531 closed

[2020-06-01 08:02] Hyperkid123 commented on #531
:tada: This issue has been resolved in version 2.4.5 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-06-02 04:30] roytan883 opened #534 "mui -> select set isRequired: true no work"
**Scope**:

"@data-driven-forms/mui-component-mapper": "2.4.5",
"@data-driven-forms/react-form-renderer": "2.4.5",

**Description**

`select` set `isRequired: true` no work, if click submit directly, no warning popup out. But normal `text-field` set `isRequired` works

**Schema**
[code]

[2020-06-02 06:18] rvsia commented on #534
Actually, the popup warning should not be shown.

As DDF contains custom validation logic, the HTML form validation should not be used. `isRequired` props serves only to indicate if the input is or is not required. (In MUI it just adds `*` to labels.) However, the material-ui is using the same prop to add the asterisk + to add the HTML validation, that creates this side-effect. To disable this, yo

[2020-06-02 06:50] roytan883 commented on #534
@rvsia But, why this can work? The warning popup
[code]

The problem is that, at the same env, why `text-field` popup warning, but `select` is not.

[2020-06-02 07:01] rvsia commented on #534
@roytan883

I cannot reproduce the popup using your schema: https://stackblitz.com/edit/pnghp6

What FormTemplate component do you use?

[code]

[2020-06-02 07:26] Hyperkid123 commented on #534
@roytan883

This happens because the actual select component does not have any HTML validation. The `select` component is not a native HTML element. We are using [autocomplete](https://material-ui.com/components/autocomplete/#autocomplete) component to be able to provide all the features.  That is the reason why HTML validation does not work on it. This will be the case with any non HTML form comp

[2020-06-02 08:22] roytan883 commented on #534
@rvsia @Hyperkid123 Thanks, `validate: [{type: 'required'}]` works. It disable submit button by default.
Maybe the doc need clarify this, some component `isRequired: true` not work, need `validate: [{type: 'required'}]`

[2020-06-02 09:04] roytan883 commented on #534
close it now

[2020-06-02 09:04] #534 closed

[2020-06-02 09:04] Hyperkid123 commented on #534
@roytan883 docs need a lot of work. It would be valuable to get as much feedback as we can. We plan to do an overhaul to the structure and content. So if you have any suggestions feel free to open an issue. We would be very grateful.

I will close this one.

[2020-06-03 08:23] #519 closed

[2020-06-03 08:23] #516 closed

[2020-06-08 06:40] #524 closed

[2020-06-08 07:28] rvsia opened #539 "Update PF4 to new major version"
**Scope**: <DESCRIBE SCOPE OF THIS ISSUE, i.e.: PF4 mapper, Form renderer>

**Description**

PF released new version. Here are changes affecting DDF:

- DataToolbar has been renamed to Toolbar
- Tab - The title should be wrapped with `<TabTitleText>`
- Inputs - Removed boolean isValid prop in favor of validated?: 'default' | 'success' | 'error' | ValidatedOptions;. Update your boolean logic to use

[2020-06-08 11:51] #523 closed

[2020-06-09 07:15] Hyperkid123 commented on #539
@rvsia i will create a beta branch to which we will merge this and the TS changes. Semantic should release a pre-release version of the packages so we can test it.

[2020-06-09 08:44] rvsia opened #542 "Wizard - validation can be skipped by pressing enter"
**Scope**: PF4, all other wizards too

**Description**

Pressing enter can skip the validation. Event handler has to be updated.

[2020-06-09 09:59] Hyperkid123 commented on #520
Common is not released as a package to its not necessary to add it atm.

[2020-06-09 09:59] #520 closed

[2020-06-09 10:27] Hyperkid123 opened #544 "[TS] properly setup export of component props interfaces"
Component prop types are fragmented between multiple intersections. Only the component itself contains all necessary type definitions. Exported component props cannot be used to define the props object

[code]

The `SomeComponentProps` must include all unions to provide a full set of prop types for the interface.

[2020-06-09 10:46] #521 closed

[2020-06-09 12:04] #522 closed

[2020-06-11 07:14] Hyperkid123 commented on #539
:tada: This issue has been resolved in version 2.5.0-beta.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package

[2020-06-11 09:23] Hyperkid123 opened #550 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2020-06-11 09:30] Hyperkid123 commented on #550
This was deliberate. I was testing an issue when NPM version did not receive --tag beta parameter.

[2020-06-11 09:30] #550 closed

[2020-06-11 13:17] #542 closed

[2020-06-11 13:24] Hyperkid123 commented on #542
:tada: This issue has been resolved in version 2.4.8 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-06-16 13:47] #539 closed

[2020-06-16 13:50] rvsia commented on #392
:tada: This issue has been resolved in version 2.5.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-06-16 13:50] #392 closed

[2020-06-16 13:51] rvsia commented on #544
@Hyperkid123 This is resolved on 2.5.0 right?

[2020-06-16 13:52] Hyperkid123 commented on #544
Yes

[2020-06-16 13:52] #544 closed

[2020-06-16 16:31] rvsia opened #558 "[TS] Using componentMapper show warnings"
**Scope**: Probably all packages

**Description**

[code]

**Schema**

[code]

@Hyperkid123

[2020-06-16 17:14] Hyperkid123 commented on #558
I will take a look tommorow

[2020-06-17 07:04] #558 closed

[2020-06-17 07:11] Hyperkid123 commented on #558
:tada: This issue has been resolved in version 2.5.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-06-17 08:18] Hyperkid123 opened #560 "[PF4] Migrate away from react-select"
**Scope**: PF4 mapper

**Description**
The react select is now not necessary component because we have all the required logic inside the common code

I would like to use some different libraries (rc-select, downshift, ...) which is lightweight and allows us to customize the component. In an ideal scenario, we would use PF provided component, but that has performance and customization issues that d

[2020-06-17 08:36] Hyperkid123 commented on #560
We should probably use: https://github.com/downshift-js/downshift#installation
This should give us good enough flexibility to apply all PF4 styling while providing all the features with good enough performance.

[2020-06-17 13:57] rvsia commented on #560
I think we could change the common select into some sort of hook during this transition:

[code]

The common select now wraps the component with many redundant `react-select` props, so, for example, it's hard to get it to use in Blueprint mapper, because I would like to use only the async functionality, not the rest of props.

[2020-06-17 14:04] Hyperkid123 commented on #560
Yes we can do that. I think that will be a next step after we replace the react-select. I see a lot of strange props that we don't need or have unreasonable type

[2020-06-17 14:05] Hyperkid123 commented on #560
Current progress

![Screenshot from 2020-06-17 16-04-48](https://user-images.githubusercontent.com/22619452/84908084-4ebf8e80-b0b4-11ea-8fad-66b248516c59.png)

[2020-06-19 11:54] rvsia opened #565 "Make common layout component for documenatiton pages"
Each documentation page should use the same layout component to achieve consistency.

[2020-06-19 15:34] #565 closed

[2020-06-22 12:43] Hyperkid123 commented on #565
:tada: This issue has been resolved in version 2.5.3 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-06-24 13:47] KaappoRaivio opened #570 "Hierarchial subsections"
**Scope**: Schema

**Description**
Is there a way to divide my form into hierarchial (nested) subsections using only the schema?

Currently I'm using a workaround with PLAIN_TEXT elements as subsections, but this approach has many issues, mainly that the styling looks wrong, as I'd like the nested content to live inside the section div borders.

[2020-06-24 13:57] rvsia commented on #570
Hello, thanks for the question!

You can divide the form using default [sub-form components](https://data-driven-forms.org/component-example/sub-form).

[code]

Or you can easily implement [your own component](https://data-driven-forms.org/renderer/field-provider):

[code]

[2020-06-25 07:17] Hyperkid123 opened #571 "[DOCS] Design new documentation page structure."

[2020-06-25 07:59] Hyperkid123 commented on #571
![aww-board](https://user-images.githubusercontent.com/22619452/85680452-9bb1ef00-b6ca-11ea-9dc7-4d536814b2a0.png)

[2020-06-25 08:00] Hyperkid123 opened #572 "[DOCS] check content"

[2020-06-25 08:00] Hyperkid123 opened #573 "[DOCS] Implement changes"

[2020-06-25 08:00] Hyperkid123 opened #574 "[DOCS] Find missing information about the project and its components."

[2020-06-25 09:10] KaappoRaivio commented on #570
Seems to work. Thanks!

[2020-06-25 09:10] #570 closed

[2020-06-25 13:01] rvsia opened #579 "[DOCS] rewrite useField, fieldProvider, customMapper pages"

[2020-06-25 13:01] rvsia opened #580 "[DOCS] validator mapper page in schema section"

[2020-06-25 13:02] rvsia opened #581 "[DOCS] write introduction for schema properties"

[2020-06-25 13:02] rvsia opened #582 "[DOCS] file for action mapper in schema section"

[2020-06-25 13:02] rvsia opened #583 "[DOCS] transfer component examples to components section"

[2020-06-25 13:02] rvsia opened #584 "[DOCS] fix all links"
should be done as the last task

[2020-06-25 13:03] rvsia commented on #572
This is done as multiple issues are opened

[2020-06-25 13:03] #572 closed

[2020-06-25 14:56] rvsia opened #585 "[DOCS] Make a page for constants"

[2020-06-25 15:04] rvsia commented on #571
Closed in `docs-improvement` branch.

[2020-06-25 15:04] #571 closed

[2020-06-25 15:41] #581 closed

[2020-06-25 15:45] rvsia opened #587 "[DOCS] Add FAQ section / cjs/umd section"
1. useField has to be used in form

- a lot of people encounters this problem and they don't how to deal with that

[2020-06-25 19:26] rvsia commented on #143
Basically done by https://medium.com/javascript-in-plain-english/data-driven-form-building-in-react-30768b49e625

[2020-06-25 19:26] #143 closed

[2020-06-26 07:58] #583 closed

[2020-06-26 08:36] #585 closed

[2020-06-26 09:05] #587 closed

[2020-06-26 10:32] #582 closed

[2020-06-26 10:32] #580 closed

[2020-06-26 11:02] rvsia opened #593 "[DOCS] Write typescript example"

[2020-06-26 13:04] #579 closed

[2020-06-29 13:18] #593 closed

[2020-06-29 16:14] #560 closed

[2020-06-29 16:25] Hyperkid123 commented on #560
:tada: This issue has been resolved in version 2.6.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-06-30 10:06] #584 closed

[2020-06-30 14:19] #573 closed

[2020-06-30 14:21] rvsia commented on #574
Because there is no clear 'finish line' for this issue, I propose to close it and fix stuff as they appear. Master branch is ready.

[2020-06-30 14:21] #574 closed

[2020-07-02 01:30] jessieweiyi opened #607 "validatorTypes.MIN_ITEMS validation does not work when the list is empty"
**Scope**:  Form renderer

**Description**

The validation validatorTypes.MIN_ITEMS is not working for FieldArray when the list is empty. The submission happens. When you add one item, the validation works.

**Schema**
I can reproduce the issue by putting the following schema in this page: https://data-driven-forms.org/component-example/field-array

[code]

<If it's possible, please provide a sche

[2020-07-02 04:40] Hyperkid123 commented on #607
Hi @jessieweiyi, thanks for the issue.

Field array validators follow the same pattern of validators for normal fields and the values are not checked if empty. If you want to force that user must add some items, add the required validator to the validate array
[code]

See example here: https://codesandbox.io/s/dark-sky-h6glg

[2020-07-02 07:32] jessieweiyi commented on #607
Thank you. It works.

[2020-07-02 07:32] #607 closed

[2020-07-02 07:44] jessieweiyi opened #610 "TSC failed since version 2.6.0"
**Scope**: Form renderer

**Description**
I am trying to bump the version of the data driven form to the latest version. I got the following error when I am running tsc on my project:

[code]

I have tried to install version by version. The issue presented from version 2.6.0.

[2020-07-02 08:29] Hyperkid123 commented on #610
Will take a look ASAP. cc @rvsia

[2020-07-02 08:53] #610 closed

[2020-07-02 08:53] Hyperkid123 commented on #610
@jessieweiyi new version will be released in a couple of minutes

[2020-07-02 09:01] Hyperkid123 commented on #610
:tada: This issue has been resolved in version 2.6.4 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-02 09:01] Hyperkid123 commented on #573
:tada: This issue has been resolved in version 2.6.4 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-02 09:03] rvsia commented on #610
@jessieweiyi Thank you for reporting this! We are still struggling with a way how to automatically check if our TypeScript definitions are OK. If you encounter any additional issues, please let us know.

[2020-07-02 13:24] skateman opened #615 "Option with empty value never gets selected in the DDF select"
**Scope**: DDFv1 PF3

**Description**

https://github.com/ManageIQ/manageiq-ui-classic/issues/7174

[2020-07-02 14:15] msageryd opened #617 "Design decision"
Hi.
Thank you for building this really nice form renderer. I'm curious about the design decision to give the possibility put "condition" in every "field". I can only think of one argument to have a condition tied to a specific field, to set the visibility och this very field without having to appoint the field by name. I might have misunderstood something..

A setter can set values for any named f

[2020-07-02 14:46] Hyperkid123 commented on #617
Hello @msageryd We had a myriad of long discussions about the condition definitions and to be honest we are not exactly happy with the current implementation either. It would deserve a proper revisit.

Unfortunately, we are talking about breaking change which will impact probably all of our users. So if we want to incorporate change like that to v2.x, we still need to support the current format. A

[2020-07-02 14:57] msageryd commented on #617
If you want to move towards a central condition object you could have a compability function which collects all field level conditions and puts them in the central condition object. The only thing you'd need to add is the fieldName for visibility conditions (since those are without fieldNames in current solution).

[2020-07-02 15:01] Hyperkid123 commented on #617
Yes, that would be the next step. Once we have a solid solution to the global condition config

[2020-07-02 15:11] rvsia commented on #617
@msageryd Thanks for suggesting this! We have discussed this feature some time ago so yeah, I agree with introducing some kind of 'lifecycle' condition that is computed after each change. We just need to be extra careful in terms of performance, but I think it should be manageable.

Having `hide`, `show` commands seems reasonable to me. I would just enhance it with having an array of names as the

[2020-07-02 15:26] msageryd commented on #617
How about maintaining a list `modifiedSinceLastConditionCheck` by subscribing to all changed values. This list could be checked against all fields involved in condition-checks. This way you could run only the necessary condition checks.

It would be cool if final-form had such a list which would reset at a manual checkpoint. Maybe form.modifiedSinceLastCheckpoint, accompanied by a function for cre

[2020-07-02 17:00] msageryd commented on #617
No, scratch that idea. I'm now fiddling with the following:

- Traverse the `conditions` object
- Whenever a key named `when` is encountered the fieldName (or fieldNames if it's an array) will be used as keys in a map where each item holds an array of conditions related to this particular field.

The resulting map (or object) will have one key for every "test-triggering" fieldName. Since each cond

[2020-07-02 17:43] Hyperkid123 commented on #617
@msageryd feel free to open PR. We always appreciate any improvents. I wont have more time today to discuss but i will take a look tommorow as soon as i can.

[2020-07-07 07:19] rvsia opened #620 "[ANT] Codecoverage"
Introduce tests and try to get 100% code coverage

[2020-07-07 07:24] rvsia opened #621 "[ANT] Add ant-mapper to demo page"
TODO:
- [ ] add ant mapper page to mappers section (installation, npm link, link to website)
- [ ] add ant mapper logo to landing page
- [ ] add stackblitz templates for ant mapper
- [ ] add ant option to component examples
- [ ] update generic example texts to include links to ant

[2020-07-07 07:24] rvsia opened #622 "[ANT] Missing components"
- [x] FieldArray https://github.com/data-driven-forms/react-forms/pull/637
- [x] Slider #634
- [x] Duallist #635

[2020-07-07 07:24] rvsia opened #623 "[ANT] Update wizard to use changes introduced in 2.6"
Common wizard props are now shared via context, not via props

[2020-07-07 07:24] rvsia opened #624 "[ANT] Treeshaking"
Introduce treeshaking to ant mapper

[2020-07-07 07:26] rvsia opened #625 "[ANT] Investigate and re-implement AntForm and FormItem"
AntForm and FormItem are components entangled with a state management, so it brings an additional performance overhead. We should try to replace these components with just 'styling' components.

[2020-07-07 07:26] rvsia opened #626 "[ANT] Typescript types"
Introduce typescript types

[2020-07-07 07:32] rvsia commented on #621
@Arun-42 Hey, do you want to take this task?

With a deadline, let's say, 14th July.

[2020-07-07 07:39] rvsia commented on #621
Ant was releases as pre-release with this version: `@data-driven-forms/ant-component-mapper@0.0.1`

[2020-07-07 09:33] rvsia opened #630 "[ANT] Check if all components are customizable"

[2020-07-07 10:18] #623 closed

[2020-07-07 11:55] #624 closed

[2020-07-07 13:57] #630 closed

[2020-07-07 14:29] rvsia commented on #625
I investigated these components and I found them very complex. I don't think we should spend additional time with rewriting it as the benefits are not higher than the price we would have to pay. :money_with_wings: But if anyone is interested, please feel free to open a pr.

https://github.com/ant-design/ant-design/issues/25485

[2020-07-07 15:13] rvsia commented on #469
`@data-driven-forms/ant-component-mapper@0.0.1` was released as a pre-release

[2020-07-07 15:13] #469 closed

[2020-07-07 18:44] Arun-42 commented on #621
@rvsia Yes, I want to take up this issue.

[2020-07-09 11:22] #622 closed

[2020-07-09 11:44] rvsia commented on #621
`@data-driven-forms/ant-component-mapper@0.0.2` is published. It contains all components.

[2020-07-09 11:48] Hyperkid123 commented on #621
@Arun-42 it might cause some issues to use the `latest` tag in package.json for the stack blitz template. The 0.0.2 release is tagged as beta so use explicit version in the template for now. We will use the latest tag once there is a stable release for the ant mapper.

[2020-07-10 13:08] #620 closed

[2020-07-10 13:36] #625 closed

[2020-07-13 06:10] Hyperkid123 commented on #617
@msageryd did you have any time to publish the example? I am very interested in your proposition.

[2020-07-13 12:57] rvsia opened #646 "Proposal - resolveProps"
**Scope**: Renderer

**Description**

I got this idea how to elevate the global props option.

[code]

It could make components more customizable without touching their code. (Also, we could use the same prop as a field prop.)

What do you think, @Hyperkid123  ?

[2020-07-13 13:55] Hyperkid123 commented on #646
I assume this would have to run on each subscription change?

[2020-07-13 14:00] rvsia commented on #646
@Hyperkid123

Yeah, the code could be pretty simple:

[code]

before the props are returned.

[2020-07-13 14:04] Hyperkid123 commented on #646
So the only question there is. Do we want to expose `formAPI` and `input` objects? This could obviously allow overriding the `change` methods. Which could potentially benefit/harm the component?

But I would expect that if somebody would be using this feature, they would probably know what they are doing so I don't see an issue with this.

To avoid overriding the props all the time in each render.

[2020-07-13 14:15] rvsia commented on #646
This won't change anything in terms of exposing formApi/input (it would have the same effect as putting these attributes directly into a schema).

But people could use `input.value` and `getState().values` to change their components (for example change helperText if another value is filled.)

And of course, there can be additional optimization enhancements.

[2020-07-13 14:17] Hyperkid123 commented on #646
@rvsia if you promise to cache these kinds of props you have :green_circle: :wink:.

[2020-07-13 14:20] rvsia commented on #646
The only issue I think about is mixing resolveProps and actionMapper... we would have to come up with some rules to not let people use actionMapper to call resolveProps function returning actionMapper. :smile:

[2020-07-13 14:20] Hyperkid123 commented on #646
We can forbid it or follow the general priority `schema` -> `globalSettings`

[2020-07-13 20:38] msageryd commented on #617
I actually went in another direction. Ended up just using your elegant condition parser. I had too much special requirements, so I built a quite different form engine.

But I do think that the core of my condition handler would fit nicely with data-drive-forms. It would be great if I could
contribute since I have had great use for your parser.

Before porting my condition handler I would like to d

[2020-07-14 07:17] Hyperkid123 commented on #617
@msageryd

Definitely yes, I think it could be a nice improvement. As I stated before, the only condition would be keeping backward compatibility of the schema and no breaking changes of the `useFieldApi` hook. Other than that you can do whatever you want.

To address some of your points.

There should be no problems with any logic. I've found that the biggest issue when porting from React native

[2020-07-14 10:18] rvsia opened #649 "Fix unreliable async test in PF4 wizard"
**Scope**: PF4

**Description**

Test 'should disabled navigation when validating - this fails locally, not on CI' sometimes fails - because of async functions and timers. We have to find more reliable way how to fix this.

[2020-07-14 10:23] rvsia opened #650 "PF3 datepicker tests fail outside our timezone"
**Scope**: PF3

**Description**

Set India's timezone (or any other that has plus some minutes) and run tests for PF3 date-time-picker

`react-forms/packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/time-picker.test.js`

Two tests are going to fail.

@Arun-42 Do you want to take this? I think it could be interesting entry point to tests.

[2020-07-14 11:49] Hyperkid123 commented on #650
I wonder if its possible to set the JSDOM navigator to one locale in tests :thinking:. It might be read-only property.

[2020-07-14 14:38] msageryd commented on #617
I tried to get going with this, but I'm running into trouble. Mind you, I've never even started a React app. But it doesn't seem too hard, according to your docs https://github.com/msageryd/react-forms/blob/master/packages/react-form-renderer/README.md#development-setup.

`yarn install` works fine
`yarn build` works fine  (after `nvm i 10` to get the latest Node 10)
`yarn start` won't work (I trie

[2020-07-14 14:42] Hyperkid123 commented on #617
@msageryd did you build all packages or just one? Running build in root is required before starting development.

[2020-07-14 14:53] msageryd commented on #617
yarn install and yarn build was executed in the root (the react-forms folder)

[2020-07-14 15:03] rvsia commented on #617
@msageryd Can you try to run `yarn start` in `react-form-renderer` folder? This project does not have any other dependencies, so it should work (or it should prove that there is something wrong). If this works, please run again `yarn build` in that same folder and then try to run other packages.

[2020-07-14 17:31] Arun-42 commented on #650
Yes, I want to take this issue.

[2020-07-15 08:06] #626 closed

[2020-07-15 21:13] msageryd commented on #617
@rvsia Thanks, that worked.

There is a PR waiting to be checked out. The code lives in a branch "new-conditions-structure". I altered index.js in react-form-renderer so it shows some conditions examples.

[2020-07-15 21:27] msageryd commented on #617
Hmm. I just discovered that my uiStateReducer is buggy. This code was originally quite different (bult with Immer). I'll need to go through it some more to make it work as intended. There is a problem with removing old uiStates.

You will be able to see the guts of the proposed solution anyway. If you find it interesting, I'll go ahead and fix the bug.

[2020-07-16 06:58] Hyperkid123 commented on #617
I will try to check it out today. If I don't give any feedback, don't hesitate to remind me (lot of stuff is going on atm.).

[2020-07-16 20:30] #650 closed

[2020-07-16 20:49] msageryd commented on #617
I've fixed the reducer bug. I also made the sample form more to the point.

[2020-07-17 06:44] Hyperkid123 commented on #617
Looking at the code right now.

[2020-07-17 10:40] #646 closed

[2020-07-17 10:49] Hyperkid123 commented on #646
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-17 13:13] #621 closed

[2020-07-20 08:34] Hyperkid123 commented on #626
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-20 08:34] Hyperkid123 commented on #625
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-20 08:34] Hyperkid123 commented on #620
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-20 08:34] Hyperkid123 commented on #622
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-20 08:34] Hyperkid123 commented on #630
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-20 08:34] Hyperkid123 commented on #623
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-20 08:34] Hyperkid123 commented on #624
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-07-21 15:28] Hyperkid123 commented on #621
:tada: This issue has been resolved in version 2.8.3 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-08-02 06:43] carlosthe19916 opened #664 "Fill form values programmatically"
**Scope**: Form renderer

**Description**
How to fill the form values programmatically? This is a use case:
I have a Bank Transfer Form that contains multiple fields; the user can fill the fields manually or he can choose to fill the form using templates (previously configured and saved).

In the example above the `initialValues` does not apply since the user can fill the form after the form is in

[2020-08-02 07:14] rvsia commented on #664
Hello.

You can use `useFormApi.change(name, value)` (https://data-driven-forms.org/hooks/use-form-api) function that allows you to set any value you need.

Or you can use `set` conditional action (https://data-driven-forms.org/schema/condition-set).

[2020-08-06 07:09] Hyperkid123 opened #668 "[manager] Types modules setup"
- move all type modules to /types
- generate typings after build

[2020-08-06 07:11] Hyperkid123 opened #669 "[manager] Create global state manager instance"
- it is detached from react rendering cycle
- only serves as an API to get the state data
- does not update the form context at first
  - that will be handled by subscription later on
- add basic API
  - store values
  - change form value
  - registered fields list

[2020-08-06 07:59] #668 closed

[2020-08-06 08:13] Hyperkid123 opened #672 "[manager] Migrate logic from manager context to manager API"
Migrate the state to form API but expose the API methods like register field via the context.

[2020-08-06 08:13] #669 closed

[2020-08-06 10:29] Hyperkid123 opened #675 "[manager] Add form metadata"

[2020-08-06 10:29] Hyperkid123 opened #676 "[manager] synchronize field state with the global state. Have only one single source of truth."

[2020-08-06 11:54] #672 closed

[2020-08-06 12:49] #675 closed

[2020-08-06 12:51] #676 closed

[2020-08-06 12:57] rvsia opened #680 "[manager] Add field meta data"

[2020-08-06 13:29] Hyperkid123 opened #681 "[manager] Add onFocus/onBlur"

[2020-08-06 14:35] #681 closed

[2020-08-07 06:53] #680 closed

[2020-08-07 07:06] rvsia opened #684 "[manager] Implement clearOnUnmount"
- field level
- form level

[2020-08-07 07:48] Hyperkid123 opened #687 "[manager] Add validation support"
- [x] field-level sync validation #691
- [x] field-level async validation #691
- [x] form-level sync validation @rvsia
- [x] form-level async validation @rvsia
- [x] mutate field-level validation based state attributes https://github.com/data-driven-forms/react-forms/pull/700
- mutate form-level validation based state attributes
  - [x] field level https://github.com/data-driven-forms/react-forms/

[2020-08-07 09:16] rvsia opened #688 "[manager] Implement initiliazeOnMount"
- field level
- form leve

[2020-08-07 10:33] #684 closed

[2020-08-07 10:50] rvsia opened #690 "[manager] Add all needed props"
- initialValues
- debug
- subscription
- mutators (?)
   - do we need them? we can actually implement field array right into the library
- validate
- validateOnBlur (?)
- keepDirtyOnReinitialize
- decorators (?)
- form (?)
- component (?)
- initialValuesEqual (?)

[2020-08-07 11:44] #688 closed

[2020-08-08 18:25] carlosthe19916 commented on #664
Sorry for keep bothering you, is there an example somewhere where `useFormApi.change(name, value)` is being used?

[2020-08-08 21:04] rvsia commented on #664
@carlosthe19916 no problem, I am glad to help!

I have an example here: https://github.com/RedHatInsights/sources-ui/blob/master/src/components/AddApplication/AuthTypeCleaner.js

This component sets values `authentication` and `selectedAuthentication` to `undefined`, when users change `application-type-id` value. Of course, instead of the undefined, anything can be used. And the `batch` is a funct

[2020-08-10 06:59] rvsia opened #693 "[manager] Create a subscription API"

[2020-08-10 11:30] #649 closed

[2020-08-10 13:17] #693 closed

[2020-08-10 13:20] rvsia opened #696 "[manager] Implement clearedValue"
- field level
- form level

[2020-08-10 14:50] rvsia opened #699 "[manager] Implement dataType"

[2020-08-11 09:44] #699 closed

[2020-08-11 09:59] #696 closed

[2020-08-11 10:02] Hyperkid123 commented on #649
:tada: This issue has been resolved in version 2.8.9 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-08-11 13:01] rvsia opened #705 "[manager] Add all necessary form options used in renderer and mappers"
- [x]  blur: (name) => void, // calls onBlur event on field with given name
- [x]  change: (name, value) => void, // calls onChange event on field with given name
- [x]  focus: (name) => void, // calls onFocus event on field with given name

---

- [x]  getFieldState: (name) => object, // returns a state of given field, state contains input and meta information of field

@rvsia https://github.com/

[2020-08-12 06:41] Hyperkid123 opened #708 "[manager] Lift the field state to the manager API"
In order to avoid synchronization overhead when mutating the global state or having multiple fields, we should lift the field state to the state manager. Fields will grab the state from the global manager.

[2020-08-12 06:49] Hyperkid123 commented on #690
@rvsia I would add field array support directly. There is one decorator that handles focus on the first error field though. We may have to implement that as well.

[2020-08-13 15:13] #708 closed

[2020-08-17 07:03] rvsia opened #714 "[manager] Compute global state from field states"
Global state should be always computed based on field state.

i.e. `dirtyFields` should depend on `dirty` in field states.

[2020-08-17 08:19] Hyperkid123 commented on #690
We will eventually expose this, but we only have to keep the currently exposed API. I think we will stick with the `children` way of creating the UI.

[2020-08-17 14:33] #687 closed

[2020-08-18 07:38] Hyperkid123 opened #721 "[manager] Add field array support"
Implement support for dynamic array fields
- [x] introduce useFieldArray https://github.com/data-driven-forms/react-forms/pull/725
- [x] FieldArray component (wrapper around hook) https://github.com/data-driven-forms/react-forms/pull/755

Meta
- [x] length attribute https://github.com/data-driven-forms/react-forms/pull/749

Expose these methods to the form API?
- [x] push #729
- [x] remove https:/

[2020-08-18 08:15] rvsia commented on #721
You have missed these methods:
- [ ] concat
- [ ] insert
- [ ] removeBatch

see https://final-form.org/docs/final-form-arrays/api

[2020-08-18 08:16] rvsia commented on #721
And each field meta should get additional
- [ ] lentgh attribute

[2020-08-18 08:19] rvsia commented on #705
fieldArray attributes/methods moved to https://github.com/data-driven-forms/react-forms/issues/721

[2020-08-18 08:38] rvsia opened #723 "[manager] Add focus decorator"

[2020-08-18 09:08] rvsia opened #726 "[manager] Implement field config features"
https://final-form.org/docs/final-form/types/FieldConfig

- [x] afterSubmit @rvsia https://github.com/data-driven-forms/react-forms/pull/759

- [x] beforeSubmit @rvsia https://github.com/data-driven-forms/react-forms/pull/759

- [x] data @rvsia https://github.com/data-driven-forms/react-forms/pull/757

- [x] defaultValue @rvsia https://github.com/data-driven-forms/react-forms/pull/750

- [x] getVa

[2020-08-18 10:55] Hyperkid123 opened #728 "[manager] Use nested object structure to store state values"
The flat values structure causes issues with nested dynamic field registration. Currently, there will be duplicate values keys. For example, pushing to field array will result in this values object:

[code]
Only the `field-array` should exist. Nested should take values from there while subscribing as an initial value (if not set in field config)

[2020-08-18 12:50] #728 closed

[2020-08-18 14:08] #705 closed

[2020-08-19 11:24] rvsia opened #737 "[manager] UseSubcription to useField"
- return object instead of an array

[2020-08-19 11:55] rvsia opened #739 "[manager] Combine fieldConfigs"
current behavior of FF is that it combines multiple validations to one

so validate should be stored in `fields` and it should be checked via forEach...

the same probably applies for other attributes as `isEqual` etc.

[2020-08-19 12:25] #737 closed

[2020-08-19 18:52] edhollinghurst opened #746 "Ability to for field to access another field's value"
Hi there, really enjoying using this library.

Just wondered whether there's a way for a field to access another field's value and receive updates whenever it changes?

I thought it would be possible with the `getState` method (see example link below). However you'll see that the received value does not get updated each time the field updates.

https://stackblitz.com/edit/zvy8e7

[2020-08-19 19:12] rvsia commented on #746
Welcome and thank you for attaching an example.

Right now, there are two standard ways how to update the second component:

1) Set `subscription `(https://data-driven-forms.org/components/renderer#optionalprops)

[code]

All fields will be updated when values are changed. It will hurt the performance, but in small forms it should be ok.

2) use `FormSpy` https://data-driven-forms.org/components/f

[2020-08-19 19:57] edhollinghurst commented on #746
That's great - thanks very much for getting back to me so quickly.

[2020-08-19 19:57] #746 closed

[2020-08-19 20:14] rvsia commented on #746
@edhollinghurst I am glad I was able to help! 👍

[2020-08-20 10:09] rvsia opened #753 "[manager] Initial validation"
fields should be validated when initialized

[2020-08-20 10:43] rvsia commented on #664
@carlosthe19916 Any progress? Can we close this issue if it's okay?

Thanks!

[2020-08-20 10:54] carlosthe19916 commented on #664
@rvsia Thanks for the feedback and examples provided it worked well, thank you! Yes, we can close this issue.

[2020-08-20 10:57] rvsia commented on #664
@carlosthe19916 Awesome, it's great to hear it! :trophy:

[2020-08-20 10:57] #664 closed

[2020-08-20 11:23] #721 closed

[2020-08-20 12:30] Hyperkid123 commented on #739
- [ ] validate
- [ ] isEqual

[2020-08-20 12:36] #753 closed

[2020-08-20 12:38] rvsia commented on #739
_Note_: There should be also `afterSubmit`, `beforeSubmit` functions after/if we implement them.

[2020-08-20 12:41] Hyperkid123 commented on #739
We might have to change the way of how we are triggering these functions. Specifically, the revalidate form and the fields. If we want to correctly call validators on fields with the same name but different internal ID we need to store that internal ID as well. We will have to think about it a bit more. We might have to switch away from the name identifier for certain actions and use the internal

[2020-08-25 17:02] ChadLefort opened #764 "Conditionally Require Fields"
Hello, just started using this library, and I have to say it’s great and thank you for creating it! I’ve run into one small issue that I can’t figure out after looking through the docs.
​
I need to conditionally require a field input, but this field input needs to always be shown on screen. So for example, I have a select with yes/no options and another textarea field for a comment. If I select no

[2020-08-25 17:33] rvsia commented on #764
Hello, thank you for your kind words! We really appreciate it! 👍

You can get rid of the key warning by setting a key property in the schema:

[code]

And I agree, this would be the way I would implement this right now.

However, we could use this case to improve the library. There are two options what to do (and we could do both):

1) Create a new condition action

[code]

2) Move `resolveProps`

[2020-08-25 17:41] rvsia opened #765 "Demo deploy fails"
**Scope**: Demo

**Description**

From CI:

[code]

[2020-08-25 18:07] Hyperkid123 commented on #765
What is this? Another provider suprise?

[2020-08-25 18:09] Hyperkid123 commented on #764
I might take a look tommorow. My schedule is a bit bussy right now.

[2020-08-26 06:37] Hyperkid123 commented on #765
@rvsia I have updated the provider settings and the deploy goes through. The badge should update shortly.

[2020-08-26 06:37] #765 closed

[2020-08-26 09:06] Hyperkid123 commented on #764
@ChadLefort @rvsia So I was thinking about it a bit and we should go with option 1. Enhancing the condition definition with a `setProps` action usable in more scenarios. I should have a PR open later today or tomorrow.

Set props from condition results will obviously have higher priority and override anything from schema props.

[2020-08-26 11:21] Hyperkid123 commented on #764
I have a solution, but there is an issue with final form not properly registering to validate prop change. There is a hack around it though.

[2020-08-26 12:30] Hyperkid123 commented on #764
Well I, was mistaken. The hack around it does not work. :thinking: This might not be solvable until we switch to our new state manager.

@ChadLefort It works ok for normal component props, like the required prop but the final from validate is busted. I might have another solution that will not require any additional features. Here is a codesandbox with working implementation using custom validatio

[2020-08-26 12:45] rvsia commented on #764
@Hyperkid123 there is an official instruction how to solve the validate change: https://final-form.org/docs/react-final-form/types/FieldProps#validate

[2020-08-26 12:53] Hyperkid123 commented on #764
@rvsia yeah I've seen that. Here is the problem though. What prop do we change? We can't just willy nilly change props from the schema. We could come up with some arbitrary prop name, but we can then override some prop required by the component. Unless we give it some totally unreasonable name. Key is the first thing that came to my mind.

Maybe just wrapping it into a fragment could be reasonable

[2020-08-26 15:33] ChadLefort commented on #764
@Hyperkid123 Thanks for providing a solution! That sandbox you've linked seems to resolve my issue. I'm going go ahead and implement into my project and see how it goes. I didn't even think about using a custom validator and passing a custom prop to the schema like that.

Yesterday I did spend a bit of time and I got the `setProps` to conditionally include `isRequired` or really any prop you would

[2020-08-27 07:01] Hyperkid123 commented on #764
@ChadLefort yeah, I know it's not an ideal solution right now. Hopefully, we will be able to fix this and enable the setProps attribute in condition for all props without any bugs.

[2020-08-31 10:07] rvsia opened #769 "[manager] Implement InputFile features"
I think we could move this feature from renderer right into the state manager.

[2020-08-31 10:28] rvsia opened #771 "[manager] Convert initialValue when datatype in useFieldApi"

[2020-09-02 07:09] #739 closed

[2020-09-02 10:59] #771 closed

[2020-09-03 14:34] #726 closed

[2020-09-04 18:22] cjbos opened #786 "Typescript: Cannot import WizardContext object from module for useContext hook"
This is likely an issue on my end, but I'm having trouble using the WizardContext in typescript.

I have the following in my form template (Trying to implement a skip button):

[code]

But I get a compile error that WizardContext is a type when a value is expected.

Is there something I might be missing in my tsc compiler options?

[code]

[2020-09-05 05:08] Hyperkid123 commented on #786
Hello @cjbos give a second to verify. It can be an issue on our side.

[2020-09-05 05:37] Hyperkid123 commented on #786
@cjbos thanks reporting this issue, it was a bug on our side. We were exporting the context as an interface instead of React.Context.

Pr is out, once its merged new version with a fix will be released shortly: https://github.com/data-driven-forms/react-forms/pull/787.

[2020-09-05 06:24] #786 closed

[2020-09-05 06:34] Hyperkid123 commented on #786
:tada: This issue has been resolved in version 2.8.19 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-09-07 12:31] rvsia opened #788 "Release the common package seperately"
**Scope**: Common

**Description**

I think it would be a good idea to release the common package separately to support custom implementation of the wizard.

[2020-09-09 08:38] rvsia opened #795 "Introduce Carbon mapper"
**Scope**: Carbon

**Description**

Introduce Carbon mapper to DDF repo

https://react.carbondesignsystem.com/?path=/story/button--default

TODO:
- [x] basic set of components https://github.com/data-driven-forms/react-forms/pull/796
- [x] field array @rvsia https://github.com/data-driven-forms/react-forms/pull/801
- [x] duallist @rvsia  https://github.com/data-driven-forms/react-forms/pull/800
-

[2020-09-10 11:31] rvsia commented on #795
# Changelog of changes PF3 > Carbon `WORK IN PROGRESS`

## No `isRequired`

Carbon recommends to mark only optional fields (see [here](https://www.carbondesignsystem.com/patterns/forms-pattern#building-a-form), so there is no `isRequired` prop.)

**Required field**

:stop_sign:

[code]

:ok:

[code]

**Optional field**

:stop_sign:

[code]

:ok:

[code]

The Carbon documentation also suggests **to

[2020-09-10 12:41] rvsia commented on #795
Slider bug addressed here https://github.com/carbon-design-system/carbon/pull/6809

[2020-09-10 13:08] rvsia commented on #795
Toggle (Switch) labelText issues addresed here https://github.com/carbon-design-system/carbon/pull/6811

[2020-09-15 11:42] skateman opened #802 "Making condition evaluation more generic"
I'm struggling to reimplement the conditional validators described [here](https://github.com/data-driven-forms/react-forms/issues/149#issuecomment-539401224) using the validator mapper in my own codebase. It would be nice to have an `evaluateCondition` that would just give me true or false without passing any context inside:

[code]

[2020-09-15 12:19] Hyperkid123 commented on #802
@skateman can you describe the specific issue you have? The [thread](https://github.com/data-driven-forms/react-forms/issues/149#issuecomment-539401224) is very outdated and has examples from v1 of the library.

Is your condition depends on different field value? What exactly `evaluateCondition` is supposed to do?

Validators have access to value, all form values and field meta. Do you think you c

[2020-09-15 12:57] skateman commented on #802
@Hyperkid123 yes, I want the validation to depend on a value of another field. I guess I can just use `allValues`, but I'd need the condition evaluator somehow as I described in the `decorate` function.

[2020-09-15 13:10] Hyperkid123 commented on #802
@skateman are you trying to enhance existing validators or creating your own? If you are creating your own there should be no problem with adding the evaluator.
[code]

If you want to enhance a current one it is exported at `/dist/{env}/validator-mapper`.

[2020-09-15 13:17] skateman commented on #802
Yeah, I'm trying to enhance the old ones (see my example) with a decorator function that evaluates the condition passed with the decorator.

[2020-09-15 15:37] rvsia opened #804 "Allow to pass props from FormTemplate to each part"
**Scope**: all

**Description**

Allow to pass props from FormTemplate to each part

**Schema**

[code]

[2020-09-15 15:38] rvsia opened #805 "Clear WizardContext"
**Scope**: common

**Description**

`WizardContext` can get some enhancement in its API. i.e.: handleNext should not need any arguments to work.

Also, I would like to explore skipping multiple steps.

[2020-09-15 15:40] rvsia opened #806 "Make FAQ page for demo"
**Scope**: Demo

**Description**

We could address common questions in a FAQ page in our documentation.

We can extract them from GH's issues:

- Where to find v1 doc
- How to set values from the form
- useField outside the form warning

[2020-09-16 07:35] #802 closed

[2020-09-16 07:46] Hyperkid123 commented on #802
:tada: This issue has been resolved in version 2.8.22 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-09-23 08:07] shashank1010 opened #810 "Need help: Need to store output to localstorage on field values change"
**Scope**: Form Renderer

**Description**
I want to be able to get the current state of the form every time there is a change.
But when i do a getState() in FormSpy the value updates only once. that is when the form state changes from valid to invalid or the other way round.

I want to store the current values to localStorage and for that I need the most recent values irrespective of validation.

[2020-09-23 08:10] Hyperkid123 commented on #810
@shashank1010 Hi, you can try and add values subscription to the FormSpy component:

[code]

[2020-09-23 08:27] rvsia commented on #810
@shashank1010 Hello,

you can store values in `debug` function.

https://data-driven-forms.org/components/renderer#optionalprops

[code]

[2020-09-23 08:31] shashank1010 commented on #810
The debug function, would that be safe to be used in production?
Also, I will try to add a subscription. Can a pass a subscriber to the FormSpy? I haven't tried that maybe I should.

[2020-09-23 08:36] rvsia commented on #810
@shashank1010 Yeah, the debug just calls a function on each form update, so it's nothing really special.

[2020-09-23 08:38] rvsia commented on #810
@shashank1010 You can optimize this approach a little bit further by using the FormSpy together with `onChange` prop. (https://final-form.org/docs/react-final-form/types/FormSpyProps#onchange)

[code]

[2020-09-23 11:10] Hyperkid123 commented on #810
@shashank1010 @rvsia sorry guys I had a little emergency. Bot suggestions by @rvsia will work. The debug one is a bit "hacky" since its a debug function and should not be really used outside of that purpose but if everything else fails I would go for it.

[2020-09-23 11:23] #117 closed

[2020-09-23 11:39] skateman opened #811 "Issues with linking on documentation website"
When opening the [`requiredValidator`](https://data-driven-forms.org/schema/required-validator#heading-requiredvalidator) example on the website, the GitHub link redirects the browser to a [404 page](https://github.com/data-driven-forms/react-forms/tree/master/packages/react-renderer-demo/src/app/examples/components/validators/required-validator.js):
![Screenshot from 2020-09-23 13-37-51](https://

[2020-09-23 11:40] Hyperkid123 commented on #811
@skateman I will take look a soon. Thanks for the report.

[2020-09-23 20:28] shashank1010 commented on #810
Thanks @Hyperkid123 for your inputs.

I have some more findings, with onChange on FormSpy the component is not rendered. And thus it doesn't work. Also if I rendered a separate FormSpy element, the onChange function is still not called.

There are other libraries from FinalForm that expose some more listeners. Will have to try that.

[2020-09-24 06:53] Hyperkid123 commented on #810
@shashank1010 I was able to ake this work with the form spy check this example:
https://codesandbox.io/s/modest-diffie-pyfzp?file=/src/App.js

Can you send us your code? Maybe we can work out why you have issues with the form spy.

[2020-09-29 11:57] #795 closed

[2020-09-29 12:08] Hyperkid123 commented on #795
:tada: This issue has been resolved in version 2.9.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-10-02 11:41] skateman opened #818 "Module export/import issues with carbon mapper"
The same thing happened before with the DDF2 packages, so I guess the fix should be trivial. I'm getting:
[code]

[2020-10-02 11:42] Hyperkid123 commented on #818
@rvsia this looks like the transform import plugin has incorrect mappings to carbon. Can you check it?.

@skateman do you know which component from the mapper is causing this issue?

[2020-10-02 11:45] Hyperkid123 commented on #818
@skateman It may be also caused by different versions of the carbon components library. What version are you using?

[2020-10-02 11:48] skateman commented on #818
[code]

[2020-10-02 12:21] skateman commented on #818
Upgrading `carbon-components-react` to `~7.21.0` fixed the issue, but I still see some warnings:
[code]

[2020-10-05 07:22] Hyperkid123 commented on #818
:tada: This issue has been resolved in version 2.9.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-

[2020-10-05 08:08] tinkotvas opened #820 "Conditionals in Field Arrays"
**Scope**: Schema / FormRenderer

**Description**: Would love the ability to put up conditionals within field arrays. Currently now the condition target is an exact path, working with field arrays the field will be an array [0], [1] etc, thus making it impossible to dynamically alter the condition based on every new "row" of field array directly in the schema.

**Schema**
Short example code (disre

[2020-10-05 08:17] Hyperkid123 commented on #820
This seems legit. I assume the second argument refers to the schema definition of the fieldArray?
[code]
@tinkotvas would you up for this task? (My schedule is super busy atm.)

[2020-10-05 08:22] rvsia commented on #820
Hello, thank you for this great suggestion!

I would change

[code]

to something like

[code]

`field.name` actually contains the `fieldIndex` i.e. `fieldArray[0].lastName` => `[0]` so you don't have to have a special argument for it. And it would make more sense for nested field arrays `fieldArray[0].siblings[1]` where you get both fieldIndexes via the name.

[2020-10-05 09:23] skateman commented on #818
No warnings after this change, thank you! :beers: :cocktail:

[2020-10-05 09:33] #818 closed

[2020-10-05 10:16] rvsia commented on #820
I have some free time now, so I can take a look on a possible solution.

[2020-10-05 10:29] Hyperkid123 commented on #820
go for it

[2020-10-05 11:38] Hyperkid123 commented on #820
@tinkotvas do you have objections against @rvsia suggestion? Is the `rowData` argument crucial for your requirements? What kind of data is it supposed to be?

[2020-10-05 11:51] tinkotvas commented on #820
It's not crucial, my intention was only to give a example on a usecase, if this would be the best solution with the current code base it would work.

I haven't checked the current source for this, but I believe having access to the row data (or internal used values like the index) would be a preferable solution to matching strings. But I guess it depends on if it's possible with the code as it is

[2020-10-05 12:37] Hyperkid123 commented on #820
@tinkotvas the "problem" with passing just the index are nested fields really. As @rvsia has pointed out, the name gives you all the information about the position of the field you would need, whereas the index would only give you the position in the current "layer" which might not be enough. So the "name" should be definitely passed.

@rvsia I would suggest adding the second argument which would

[2020-10-05 12:56] rvsia commented on #820
@Hyperkid123 I think that would be an unnecessary redundancy - fieldArray name and fieldName is known directly from the schema, so there is no need to pass them. And to pass index it would mean to change `renderForm` across all fieldArray components and it would break simply with nesting.

[2020-10-05 13:39] Hyperkid123 commented on #820
I see. I would not want that. The name will have to be sufficient.

[2020-10-05 13:58] Hyperkid123 commented on #820
@tinkotvas new version with the feature should be released in a couple of minutes. I will keep this issue open until your ack that it is working as intended.

[2020-10-05 14:07] Hyperkid123 commented on #820
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-10-08 08:10] tinkotvas commented on #820
Working as intended!

[2020-10-08 08:10] #820 closed

[2020-10-09 08:41] #806 closed

[2020-10-09 10:16] #811 closed

[2020-10-09 13:34] skateman opened #828 "PF3: onClick doesn't work on buttons defined in inputAddon"
I am guessing that this is not an `inputAddon`-specific issue, but any button defined in the schema has the problem.
[code]

[2020-10-09 13:44] rvsia commented on #828
Try `onClick: () => console.log('blabla')`. When you return a function, it won't show anything.

[2020-10-09 14:44] skateman commented on #828
:see_no_evil: :see_no_evil: :see_no_evil: :see_no_evil: :see_no_evil: :see_no_evil: :see_no_evil: :see_no_evil: sorry :pray:

[2020-10-09 14:44] #828 closed

[2020-10-10 09:00] skateman commented on #615
Any update on this @Hyperkid123?

[2020-10-12 06:32] Hyperkid123 commented on #615
The update is I will look at it. Sorry, too much stuff.

[2020-10-12 06:36] Hyperkid123 commented on #811
:tada: This issue has been resolved in version 2.10.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-10-12 06:36] Hyperkid123 commented on #806
:tada: This issue has been resolved in version 2.10.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-10-13 14:23] rvsia commented on #378
@chambridge This issue has been opened for months with no progress, so let's close it for now. Feel free to reopen if FieldArray component is not sufficient enough or if you need any help with implementing it.

Thank you for understanding.

[2020-10-13 14:23] #378 closed

[2020-10-14 14:25] alexandernst opened #835 "[CustomValidator] Custom warning instead of custom error"
**Scope**: CustomValidator functionality

**Description**

I'm working with forms that require showing "alerts/warnings" on some fields after validating them.
For example, after entering a text in a field, the validation of that field should be triggered and if the value of the field matches a previously fetched array of values, the field should show a warning message of some sort (eg. "the value

[2020-10-14 15:05] alexandernst commented on #835
Hi @Hyperkid123 !

I really wasn't expecting a reply so sooner, so thank you!

Indeed, I was thinking that a custom component might the the "plan B", but I really don't like the idea of overriding and hacking into components just for this one thing.

Replying to your second comment: your proposal sounds like a very elegant way for achieving this feature, bonus points for not breaking any current A

[2020-10-14 15:13] rvsia commented on #835
@alexandernst Thank you for your suggestion! And thanks @Hyperkid123 for a more detailed proposal. I can take a look tomorrow - I have several ideas in my head how to implement this feature. :thinking:

But feel free to open a PR yourself if you want to! :+1:

[2020-10-19 11:57] Hyperkid123 commented on #835
@alexandernst the renderer now has soft validation. We will need to update the mappers accordingly. Which component mapper are you using?

[2020-10-19 12:06] alexandernst commented on #835
Actually I'm working on a custom bootstrap 4 (WIP, pre-alpha) mapper. I'll share it if I get it to work decently.

[2020-10-19 12:07] Hyperkid123 commented on #835
:tada: This issue has been resolved in version 2.11.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-10-19 12:11] Hyperkid123 commented on #835
@alexandernst alright. The updated docs should be up in a bit.

[2020-10-19 12:11] alexandernst commented on #835
Thank you all for the extremely fast replies and patches!

[2020-10-19 12:14] rvsia commented on #835
@alexandernst The docs are here https://data-driven-forms.org/schema/validator-warnings (if you can't see it, try to force refresh)

[2020-10-19 19:27] Maria-Cordero-ibm opened #838 "PF3 Date Picker not working"
**Scope**: [date-picker on PF3](https://data-driven-forms.org/mappers/date-picker?mapper=pf3) not working.

**Description**
Date picker produces following error on PF3:
<img width="436" alt="date-picker error" src="https://user-images.githubusercontent.com/71033910/96501318-36a47b00-121e-11eb-8c80-8f9ff54f290a.png">
Error can be reproduced in the [website](https://data-driven-forms.org/mappers/dat

[2020-10-20 06:33] Hyperkid123 commented on #838
seems like some component names have changed in a recent PF3 release.

[2020-10-20 07:17] Hyperkid123 commented on #838
@Maria-Cordero-ibm the issue was caused by the latest minor version of `react-day-picker` package. The exports are busted and the component is not actually exported properly. The version was fixated to `7.3.x` until the bug is removed.

Just on a side note, we are thinking about deprecating pf3 mapper because the pf3 project itself is abandoned, and its very difficult to get any support. It will b

[2020-10-20 07:20] skateman commented on #838
@Hyperkid123 just a little longer please, we are working on moving towards the carbon mapper...

[2020-10-20 07:22] Hyperkid123 commented on #838
I know I am just saying that eventually even React won't be able to run PF3.

[2020-10-20 07:37] #838 closed

[2020-10-20 07:46] Hyperkid123 commented on #838
:tada: This issue has been resolved in version 2.11.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-10-21 08:25] rvsia opened #843 "[manager] Implement warning"
**Scope**: form state manager

**Description**

Implement warning functionality, so warnings are stored in the form state and no additional useState is required

[2020-10-21 08:26] rvsia opened #844 "Investigate and implement warning support in all mappers"
**Scope**: All

**Description**

Investigate and implement warning support in all mappers

- [x] PF4 @rvsia https://github.com/data-driven-forms/react-forms/pull/848
- [x] MUI @rvsia https://github.com/data-driven-forms/react-forms/pull/849
- [x] Carbon @rvsia https://github.com/data-driven-forms/react-forms/pull/855
- [x] SUIR @rvsia https://github.com/data-driven-forms/react-forms/pull/856
- [x]

[2020-10-21 15:27] #843 closed

[2020-10-22 08:35] skateman opened #852 "Mapper agnostic way of retrieving/setting the value of a SELECT"
We're struggling with the testing of SELECT fields in MiQ, while a simple input field can be changed using `simulate('change')`, the select needs to be hacked with tapping into the `onSelect` of the right component in the DOM. I was not able to find a clear way to find this select automatically, always had to juggle with the selector + `children().children()` calls.

I am assuming that if I change

[2020-10-22 10:08] Hyperkid123 commented on #852
@skateman. Mapper agnostic way is using the `formOptions.change()`. You will have create a testing component that will expose the formApi. Either enhance the schema or add it to the template somewhere.
[code]
For this example use some test-specific FormRenderer that will inject the extra component to the form. Using jest mock should be enough to modify your current renderer wrapper schema/template

[2020-10-22 13:12] #844 closed

[2020-10-22 13:23] Hyperkid123 commented on #844
:tada: This issue has been resolved in version 2.15.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-10-23 14:02] rvsia opened #860 "[manager] Testing - bugs & missing feature"
**Scope**: manager

**Description**

## Basic usage

- [x] async field validation do not set form.validation to true @rvsia https://github.com/data-driven-forms/react-forms/pull/876
- [x] can be submitted when form is not valid @rvsia https://github.com/data-driven-forms/react-forms/pull/861
    - fields should be made `touched` after submitting invalid form
- [x] touched is not updated @rvsia htt

[2020-10-24 05:20] skateman commented on #852
This is all great when I'm testing single components, when the form is declared in the test and I have control over what schema I pass to it. However, it is kinda problemmatic to inject this component to a form that's not defined in the specs without explicitly opening a backdoor in the production code...

[2020-10-24 05:53] Hyperkid123 commented on #852
As I said. Mock the form renderer with this component injected. You can use your renderer and Just use different template.

[2020-10-24 05:54] Hyperkid123 commented on #852
https://jestjs.io/docs/en/manual-mocks

[2020-10-25 13:53] #852 closed

[2020-10-25 13:53] skateman commented on #852
Thanks!

[2020-10-26 07:43] Hyperkid123 commented on #810
I will close this issue because there was no response for a while. @shashank1010 If you still require any help, feel free to re-open it.

[2020-10-26 07:43] #810 closed

[2020-10-26 07:45] Hyperkid123 commented on #615
@skateman the issue should be fixed by https://github.com/data-driven-forms/react-forms/pull/829/. We are waiting for your ack.

[2020-10-26 07:47] #835 closed

[2020-10-26 09:12] rvsia commented on #714
closed in favor of https://github.com/data-driven-forms/react-forms/issues/860

[2020-10-26 09:12] #714 closed

[2020-10-26 10:53] #615 closed

[2020-10-26 11:05] Hyperkid123 commented on #615
:tada: This issue has been resolved in version 2.15.1 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-10-28 13:45] skateman opened #865 "Demos on the website are failing to build"
![Screenshot from 2020-10-28 14-44-58](https://user-images.githubusercontent.com/649130/97444201-2aaa6e80-192c-11eb-9515-6a043d5bb831.png)

[2020-10-28 13:52] skateman opened #866 "PF3: SELECT with loadOptions and isSearchable crashes when conditionally re-rendered"
Schema:
[code]

Steps to reproduce:
* Flip the `foo` switch to `true`
* Select something from the appearing dropdown
* Flip the `foo` switch to `false`
* Flip the `foo` switch to `true`

Result:
[code]

Can't reproduce the issue when `isSearchable` is not set or the fields are not loaded via `loadOptions`.

[2020-10-28 13:56] skateman commented on #764
Maybe this helps ... I implemented a PoC of conditional validations here: https://github.com/ManageIQ/manageiq-ui-classic/pull/7312

[2020-10-29 07:35] Hyperkid123 commented on #866
This will probably need some fallback value for the label.

[2020-10-29 07:36] Hyperkid123 commented on #865
@skateman does it happen for all mappers?

[2020-10-29 07:42] skateman commented on #865
It seems like only PF3 :thinking:

[2020-10-29 07:59] Hyperkid123 commented on #866
Ah yes. The dropdown evaluation text does not wait for the loadOptions promise to finis, therefore the option does not exists and the label can't be retrieved. A fix should be out momentarily.

[2020-10-29 08:17] Hyperkid123 commented on #865
@skateman I think I have all of them. The attached PR fixes the issue.

[2020-10-30 09:46] #865 closed

[2020-10-31 20:11] jinxac opened #871 "How to place multiple inputs in a single row?"
**Scope**: Form renderer.

**Description**:  I have a layout in which I have multiple inputs in a single line, but as per the docs and the demo I cannot make this work. Each input takes the entire row. Can someone please help? In the below URL I need first name and last name in the same line.

**Schema**

https://codesandbox.io/s/data-driven-forms-example-forked-oyi04?file=/src/App.js

P.S: If thi

[2020-10-31 22:04] rvsia commented on #871
Hello, thanks for the demo!

Most of MUI components are wrapped in a [FormField component](https://github.com/data-driven-forms/react-forms/blob/5a2e4c0e5b4b6fda97ff63eebd1d3ffc6afd5f56/packages/mui-component-mapper/src/files/text-field.js#L29) so you can modify it directly via the standard [MUI Grid props](https://material-ui.com/api/grid/):

`FormFieldGridProps: {xs: 6},`

[code]

And I am sorry

[2020-10-31 22:05] rvsia opened #872 "MUI documenation missing FormFieldProps for text field"
**Scope**: MUI Demo

**Description**

MUI documenation is missing FormFieldProps for text field component, maybe some more

[2020-10-31 22:05] rvsia commented on #872
see #871

[2020-11-02 08:02] Hyperkid123 commented on #871
@jinxac if you want these props to apply globally for the whole form, you can use the component mapper to define them instead: [global props](https://data-driven-forms.org/mappers/global-component-props#heading-globalcomponentprops).

We will add the missing information to the docs shortly.

[2020-11-02 08:26] #866 closed

[2020-11-02 08:31] #872 closed

[2020-11-02 08:42] Hyperkid123 commented on #872
:tada: This issue has been resolved in version 2.15.3 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-11-02 08:42] Hyperkid123 commented on #865
:tada: This issue has been resolved in version 2.15.3 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-11-02 08:42] Hyperkid123 commented on #866
:tada: This issue has been resolved in version 2.15.3 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-11-02 11:36] #804 closed

[2020-11-02 11:48] Hyperkid123 commented on #804
:tada: This issue has been resolved in version 2.16.0 :tada:

The release is available on

- [react-form-renderer (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/react-form-renderer)

- [pf3-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data-driven-forms/pf3-component-mapper)

- [pf4-component-mapper (@latest dist-tag)](https://www.npmjs.com/package/@data

[2020-11-03 07:03] jinxac opened #875 "Date format for MUI Date Picker"
**Scope**: MUIDatePicker

**Description**

Hi, I wanted to format the date shown in the input MUI Date picker to `yyyy-mm-dd`. The current format is `dd-mmmm`.

I tried following till now:-

[code]

Though I am passing utils as props and it should be overridden at https://github.com/data-driven-forms/react-forms/blob/master/packages/mui-component-mapper/src/files/date-picker.js#L32 but still someh

[2020-11-03 07:10] jinxac commented on #875
This works fine with  passing format inside `DatePickerProps`.

[2020-11-03 07:10] #875 closed

[2020-11-03 08:35] rvsia commented on #871
@jinxac I saw in the other issue you have already used the prop to modify the grid. So I am closting this. Feel free to reopen, if you have any additional problems!

[2020-11-03 08:35] #871 closed

[2020-11-04 06:47] jinxac commented on #871
Thank you so much @rvsia

[2020-11-05 09:34] skateman opened #879 "PF3: text-field with "type: hidden" produces vertical offset"
![Screenshot from 2020-11-05 10-31-52](https://user-images.githubusercontent.com/649130/98223411-5512b200-1f52-11eb-8a07-5e337473314c.png)

The component below should not cause any visual changes in the form, but as you see it on the screenshot above, it does where the blue mark is.
[code]

[2020-11-05 09:36] Hyperkid123 commented on #879
@skateman I believe there is still margin/padding of the field form group. This should be easy enough to fix. Do you want to do it?

[2020-11-05 09:37] rvsia commented on #879
Why not to use `hideField: true`?

[2020-11-05 09:38] Hyperkid123 commented on #879
@rvsia that does not matter. It's a bug the field should not have any dimensions.

[2020-11-05 09:45] rvsia commented on #879
@Hyperkid123 not sure if it's a bug. We are hiding fields via `hideField` in DDF, `type` is just a spreaded prop and it doesn't make any sense to use it on text-field. Why to use a text-field at all after that? It's a text-field, not a hidden-field. :smile: I think it would be better to implement `HiddenField` than doing some hardcoding checking `type === hidden` in FormGroup components.

[2020-11-05 09:50] Hyperkid123 commented on #879
I see where you are coming from. We are basically trapped by the `input[type="hidden"]`. I think we should let the design system to decide whether its a bug or not. Let me check the PF3 react playground and see if this is "intended" or not.

[2020-11-05 09:52] rvsia commented on #879
@Hyperkid123 Don't forget we are wrapping the components inside `FormGroup` component, so you cannot test the input alone.

[2020-11-05 09:55] Hyperkid123 commented on #879
I know

[2020-11-05 09:57] skateman commented on #879
Are there any side effects if you put both `hideField: true` and `type: hidden` on a component? And can't this be done automatically?

[2020-11-05 10:01] Hyperkid123 commented on #879
So since PF3 is just styled wrapper of react-bootstrap I will refer to their docs.
The hidden type does not even hide labels, helpers, etc so @rvsia is correct.

@skateman no this won't be done automatically, just use the `hideField`. Type is a component-specific property and the renderer has no clue what it is. It could break other mappers which can adjust its styling. There is no side effect of

[2020-11-05 12:49] rvsia commented on #860
Closing this as all issues from this testing round have been fixed. We can open issues as issues appear.

[2020-11-05 12:49] #860 closed

[2020-11-05 17:24] rvsia opened #882 "[manager] Investigate errors storing format"
**Scope**: Manager

**Description**

Investigate if we should store errors in flat or in nested structure and how it works now.

[2020-11-06 12:07] #723 closed

[2020-11-10 10:21] #879 closed

[2020-11-12 08:32] jinxac opened #885 "How to handle phone number type inputs?"
**Scope**: MUI Wrapper

**Description**

Hi, I was looking to integrate a phone number into the forms. Is there any way I can use a custom component for the same? The custom component I am talking about here is https://github.com/bl00mber/react-phone-input-2.

TIA

**Schema**

<If it's possible, please provide a schema which reproduces the issue>

[2020-11-12 08:54] rvsia commented on #885
Hello, yeah, you can follow this [guide](https://data-driven-forms.org/mappers/custom-mapper#creatingforminputcomponents):

[code]

demo: https://stackblitz.com/edit/g5ghky?file=index.js

[2020-11-12 10:19] jinxac commented on #885
Thank you so much for the prompt reply. This works super nice. Just one last question how do I adjust styles/validations for this? I am passing following in the schema but it is not working:-

[code]

[2020-11-12 10:27] rvsia commented on #885
Validation works, it just does not show errors. You need to wrap the component inside a `FormField` component that enables all these features, you can take a look here how it's implemented in MUI: https://github.com/data-driven-forms/react-forms/blob/master/packages/mui-component-mapper/src/files/switch.js#L10